  {{>breadcrumb}}

  <div class="grid-row">

    <div class="column-two-thirds">

      <h1 class="heading-xlarge">{{pagetitle}}</h1>

      <dl class="meta meta-small mb-xl">
        <dt>Name</dt>
        <dd>case-123456789</dd>
        <dt>Uploaded</dt>
        <dd><time datetime="2016-05-09">9 May 2016</time></dd>
        <dt>Status</dt>
        <dd><span class="text-error">Rejected &ndash; errors found</span></dd>
      </dl>

      <p>You&rsquo;ll need to fix errors in your zip file and try again.</p>

    </div>

    <div class="column-third">

      <div class="related">

        <div class="related-section">

          <h2 class="related-heading">Related links</h2>

          <ul class="related-links">
            <li><a href="/send-other-documents">Send documents to court</a></li>
          </ul>

        </div>

      </div>

    </div>

  </div>

  <section>

    <h2 class="heading-medium">Fix 3 errors</h2>

    <table class="table table-font-xsmall">
      <caption class="visuallyhidden">Errors in document uploads</caption>
      <thead>
        <tr>
          <th scope="col">Document</th>
          <th scope="col">Reference number</th>
          <th scope="col">Error</th>
        </tr>
      </thead>

      <tbody>
        <tr>
          <td><abbr title="Single Justice Procedure">SJP</abbr> notice</td>
          <td>9012466</td>
          <td><span class="text-error">Already sent to court &ndash; remove</span></td>
        </tr>
        <tr>
          <td>Previous convictions</td>
          <td>-</td>
          <td><span class="text-error">Doesn&rsquo;t belong to an <abbr title="Single Justice Procedure">SJP</abbr> case &ndash; remove</span></td>
        </tr>
        <tr>
          <td>Witness statement</td>
          <td>2053688</td>
          <td><span class="text-error">Already sent to court &ndash; remove</span></td>
        </tr>
      </tbody>

    </table>

  </section>

  <section>

    <h3 class="heading-medium">After you&rsquo;ve fixed all errors</h3>

    <p class="text">Because your entire zip file was rejected last time, you need to upload it again.</p>

    <p>It must include:</p>

    <ul class="list list-bullet">
      <li>your corrected documents</li>
      <li>all the remaining documents which didn&rsquo;t contain errors</li>
    </ul>

    <p><a class="button" href="#">Upload zip again</a></p>

  </section>
