  {{>breadcrumb}}

  <div class="grid-row">

    <div class="column-two-thirds">

      <h1 class="heading-xlarge">{{pagetitle}}</h1>

      <dl class="meta meta-small">
        <dt>Name</dt>
        <dd>case-123456789</dd>
        <dt>Uploaded</dt>
        <dd><time datetime="2016-03-24">24 March 2016</time></dd>
      </dl>

    </div>

  </div>

  <h2 class="heading-medium">3 documents successfully sent to court</h2>

  <table class="table table-font-xsmall">
    <caption class="visuallyhidden">Documents successfully sent to court</caption>
    <thead>
      <tr>
        <th scope="col">Document</th>
        <th scope="col">Name</th>
        <th scope="col">Reference number</th>
      </tr>
    </thead>

    <tbody>
      <tr>
        <td><abbr title="Single Justice Procedure">SJP</abbr> notice</td>
        <td>SMITH Olivia</td>
        <td>2056135</td>
      </tr>
    </tbody>

  </table>
