{{>breadcrumb}}

<div class="grid-row">

  <div class="column-two-thirds">

    <h1 class="heading-xlarge">{{{pagetitle}}}</h1>

    <p class="lede">{{{leadtext}}}</p>

    <a class="button" href="#" role="button">Continue to next case</a>

  </div>

</div>
