{{>breadcrumb}}

{{#with search}}

<h1 class="heading-xlarge">{{../pagetitle}}</h1>

<p class="lede">Review your information before making your plea.</p>

<section class="confirm-answers" aria-labelledby="plea">

  <header class="confirm-answers-header">
    <h2 class="bold-medium" id="plea">Plea</h2>
    <a class="confirm-answers-action" href="#" title="Change plea">Change <span class="visuallyhidden">plea</span></a>
  </header>

  <dl class="meta meta-large">
    <dt>Defendant&rsquo;s plea</dt>
    <dd>Guilty</dd>
    <dt>Plead guilty in court</dt>
    <dd>No</dd>
  </dl>

</section>

<hr>

<section class="confirm-answers" aria-labelledby="personal-details">

  <header class="confirm-answers-header">
    <h2 class="bold-medium" id="personal-details">Personal details</h2>
    <a class="confirm-answers-action" href="#" title="Change personal details">Change <span class="visuallyhidden">personal details</span></a>
  </header>

  <dl class="meta meta-large">
    <dt>Name</dt>
    <dd>Billy SMITH</dd>
    <dt>Date of birth</dt>
    <dd><time datetime="">4 April 1970</time> (46 years old)</dd>
    <dt>Address</dt>
    <dd>7 Rock Road, <br> London SE3 8YH</dd>
    <dt>Email</dt>
    <dd>&ndash;</dd>
    <dt>Home telephone</dt>
    <dd>&ndash;</dd>
    <dt>Mobile</dt>
    <dd>&ndash;</dd>
  </dl>

</section>

<hr>

<section class="confirm-answers" aria-labelledby="employment-and-income">

  <header class="confirm-answers-header">
    <h2 class="bold-medium" id="employment-and-income">Employment and income</h2>
    <a class="confirm-answers-action" href="#" title="Change employment and income">Change <span class="visuallyhidden">employment and income</span></a>
  </header>

  <dl class="meta meta-large">
    <dt>National Insurance number</dt>
    <dd>&ndash;</dd>
    <dt>Frequency of income and outgoings</dt>
    <dd>&ndash;</dd>
    <dt>Is the defendant employed?</dt>
    <dd>&ndash;</dd>
    <dt>Are they receving benefits?</dt>
    <dd>&ndash;</dd>
  </dl>

</section>

<hr>

<section class="confirm-answers" aria-labelledby="uploaded-documents">

  <header class="confirm-answers-header">
    <h2 class="bold-medium" id="uploaded-documents">Uploaded documents</h2>
    <a class="confirm-answers-action" href="#" title="Change uploaded documents">Change <span class="visuallyhidden">uploaded documents</span></a>
  </header>

  <dl class="meta meta-large">
    <dt>Document</dt>
    <dd>SJP notice</dd>
  </dl>

</section>

<p><a class="button" href="#" role="button">Confirm and continue</a></p>

{{/with}}
