  {{>breadcrumb}}

    {{#with search}}

    <h1 class="heading-xlarge">{{../pagetitle}}</h1>

    <section aria-labelledby="uploaded-documents">

      <h2 class="heading-medium" id="uploaded-documents">Uploaded documents</h2>

      <table class="table table-font-xsmall">
        <thead>
          <tr>
            <th scope="col">Name</th>
            <th scope="col">Type</th>
            <th scope="col">Uploaded on</th>
            <th></th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td><a href="#">SJP notice</a></td>
            <td>PDF, 256KB, 3 pages</td>
            <td>15 Jan 2016</td>
            <td><a href="#">Remove</a></td>
          </tr>
          <tr>
            <td><a href="#">Plea document</a></td>
            <td>PDF, 376KB, 10 pages</td>
            <td>11 Jan 2016</td>
            <td><a href="#">Remove</a></td>
          </tr>
          <tr>
            <td><a href="#">Statement of income and outgoings (MC100)</a></td>
            <td>PDF, 514KB, 6 pages</td>
            <td>11 Jan 2016</td>
            <td><a href="#">Remove</a></td>
          </tr>
        </tbody>
      </table>

    </section>

    <section aria-labelledby="add-other-documents">

      <h2 class="heading-medium" id="add-other-documents">Add other documents</h2>

      <p>You can upload any of the following documents if available.</p>

      <form class="form" method="post" action="/court-administrator/case-details/{{id}}">

        <h2 class="heading-small">Select mitigation</h2>

        <div class="form-group">
          <input class="form-control-file" type="file" id="mitigation" name="mitigation">
          <label class="button button-secondary" for="mitigation">Browse&hellip;</label>
        </div>

        <h2 class="heading-small">Select witness statement</h2>

        <div class="form-group">
          <input class="form-control-file" type="file" id="witness-statement" name="witness-statement">
          <label class="button button-secondary" for="witness-statement">Browse&hellip;</label>
        </div>

        <h2 class="heading-small">Select other document</h2>

        <div class="form-group form-group-last">
          <input class="form-control-file" type="file" id="other-document" name="other-document">
          <label class="button button-secondary" for="other-document">Browse&hellip;</label>
        </div>

        <button class="button" type="submit">Upload</button>

      <form>

    </section>

  {{/with}}
