{{>breadcrumb}}

  {{#with search}}

  <h1 class="heading-xlarge">{{../pagetitle}}</h1>

  <p class="lede">You can add any of the following, if available.</p>

  <form class="form" method="post">

    <fieldset>
      <legend>
        <span class="form-label-bold">Select plea document</span>
      </legend>
      <div class="form-group">
        <input class="form-control-file" type="file" id="plea-document" name="pleaDocument">
        <label class="button button-secondary" for="plea-document">Browse&hellip;</label>
      </div>
    </fieldset>

    <fieldset>
      <legend>
        <span class="form-label-bold">Select statement of income and outgoings (MC100)</span>
      </legend>
      <div class="form-group">
        <input class="form-control-file" type="file" id="statement-of-income" name="statementIncome">
        <label class="button button-secondary" for="statement-of-income">Browse&hellip;</label>
      </div>
    </fieldset>

    <fieldset>
      <legend>
        <span class="form-label-bold">Select other documents</span>
        <span class="form-hint">For example, an email or a copy of a travelcard</span>
      </legend>
      <div class="form-group form-group-last">
        <input class="form-control-file" type="file" id="other-documents" name="otherDocuments">
        <label class="button button-secondary" for="other-documents">Browse&hellip;</label>
      </div>
    </fieldset>

    <div class="form-group form-group-related">
      <button class="button" type="submit">Upload and continue</button>
    </div>

    <p><a href="/court-administrator/case-details/{{id}}">Cancel</a></p>

  </form>

{{/with}}
