{{>operational-reporting/breadcrumb}}


<div class="grid-row">

  <div class="column-two-thirds">

    <h1 class="heading-xlarge">{{{pagetitle}}}</h1>

    <span class="font-medium">On <time datetime="2017-05-08T13:36">Monday 8 May 2017 at 1:36pm</time></span>

  </div>

</div>

<h3 class="heading-medium">5 cases missing notices</h3>

<table class="table table-font-xsmall table-performance">

  <thead>
    <tr>
      <th scope="col">Name</th>
      <th scope="col">Reference number</th>
      <th scope="col">Notice served</th>
    </tr>
  </thead>

  <tbody>
    <tr>
      <th class="table-cell-title" scope="row"><a href="#"><span class="text-uppercase">Francis</span> David</a></th>
      <td>1234567</td>
      <td>12 February 2017</td>
    </tr>
    <tr>
      <th class="table-cell-title" scope="row"><a href="#"><span class="text-uppercase">Afadar</span> Mohamed</a></th>
      <td>1234567</td>
      <td>12 February 2017</td>
    </tr>
    <tr>
      <th class="table-cell-title" scope="row"><a href="#"><span class="text-uppercase">Jensen</span> Deborah</a></th>
      <td>1234567</td>
      <td>12 February 2017</td>
    </tr>
    <tr>
      <th class="table-cell-title" scope="row"><a href="#"><span class="text-uppercase">Nowak</span> Antoni</a></th>
      <td>1234567</td>
      <td>12 February 2017</td>
    </tr>
    <tr>
      <th class="table-cell-title" scope="row"><a href="#"><span class="text-uppercase">Sousa</span> Juan</a></th>
      <td>1234567</td>
      <td>12 February 2017</td>
    </tr>
  </tbody>

</table>

<a class="button" href="/{{baseurl}}/number-of-cases-pending-decision/" role="button">Back</a>
