  {{>breadcrumb}}

  <div class="grid-row">

    <div class="column-two-thirds">

      <h1 class="heading-xlarge">{{pagetitle}}</h1>

      <div class="error-summary" role="group" aria-labelledby="error-summary-heading-example-1" tabindex="-1">

        <h1 class="heading-medium error-summary-heading" id="error-summary-heading-example-1">Fix the following</h1>

        <ul class="error-summary-list">
            <li><a href="#error-send">Send to court</a></li>
        </ul>

      </div>

      <form class="form" method="post">

        <div class="form-group">

          <h2 class="bold-small">Select header <abbr title="Comma Separated Value">CSV</abbr></h2>

          <label class="button button-secondary">Upload
            <input class="hidden" type="file" id="header" name="header" accept=".csv">
          </label>

          <div class="panel panel-border-narrow">
            <p class="font-xsmall">
              <span class="bold-xsmall">File selected</span><br>
              <span class="text-secondary" id="header-filename">nppcase_TfL_001001_header_20160823121510.csv</span><br>
              <a class="remove" href="#">Remove</a>
            </p>
          </div>

        </div>

        <div class="form-group form-group-last">

          <h2 class="bold-small">Select offences <abbr title="Comma Separated Value">CSV</abbr></h2>

          <label class="button button-secondary">Upload
            <input class="hidden" type="file" id="offences" name="offences" accept=".csv">
          </label>

          <div class="panel panel-border-narrow">
            <p class="font-xsmall">
              <span class="bold-xsmall">File selected</span><br>
              <span class="text-secondary" id="offences-filename">nppcase_TfL_001001_offence_20160823121510.csv</span><br>
              <a class="remove" href="#">Remove</a>
            </p>
          </div>

        </div>

        <div class="form-group error">
          <span class="error-message" id="error-send">We&rsquo;re having technical problems &ndash; please try again in a few minutes</span>
          <button class="button" type="submit" id="send" name="send" value="send">Send to court</button>
        </div>

      </form>

    </div>

  </div>
