{{>breadcrumb}}

<div class="homepage-masthead">

  <div class="grid-row">

    <div class="column-two-thirds">

      <h1 class="bold-xlarge mb-l">{{apptitle}}</h1>

      <h2 class="bold-medium">Search for a case</h2>

      <form class="form" method="post">

        <div class="form-search form-search-home">

          <label for="search">
            <span class="form-label">Enter case reference number or defendant&rsquo;s last name</span>
          </label>

          <input class="form-control form-control-wide" type="search" id="search" name="search"><button class="form-search-button" type="submit">Search</button>

        </div>

    </div>

  </div>

</div>

{{#is phaseBannerHome true}}
  {{>phase-banner}}
{{/is}}

<div class="grid-row">

  <div class="column-two-thirds">

    <h2 class="heading-medium" id="make-case-decisions">Make case decisions</h2>

    <ul class="list" aria-labelledby="make-case-decisions">
      <li><p><a href="{{baseurl}}start-a-new-sjp-session/">Start a new SJP session</a> (10 cases)</p></li>
    </ul>

  </div>

</div>
