{{>breadcrumb}}

{{#with search}}

  {{>legal-adviser/persist-info}}

  <div class="grid-row">

    <div class="column-two-thirds">

      <h1 class="heading-xlarge">{{../pagetitle}}</h1>

      <h2 class="heading-large">Refer for future SJP session</h2>

      <p>You&rsquo;re about to remove the case from this service.</p>

      <p>Give the case number to your court administrator and ask them to manually create a new case in Libra.</p>

      <p><a class="button" href="/proof-in-absence/legal-adviser/check-your-decisions/{{id}}" role="button">Save and continue</a></p>

      <p><a href="/proof-in-absence/legal-adviser/case-details/{{id}}">Back</a></p>

    </div>

    <div class="column-third">
      <div class="related">
        {{>legal-adviser/related-documents}}
      </div>
    </div>

  </div>

{{/with}}
