// Imports
// ==========================================================================

// Path to assets for use with the file-url function
// in the govuk frontend toolkit's url-helpers partial
$path: "/public/images/";

// GDS styles
@import "../govuk/sass/govuk-elements";

// SJP styles
@import "modules/manifest";
@import "partials/manifest";
@import "blocks/manifest";
@import "elements/manifest";
