{{>breadcrumb}}

{{#with search}}

  <div class="notification notification-confirmation" role="alert">
    <i class="icon icon-tick-white"></i>
    <div class="notification-message">
      <h1 class="bold-medium">Withdrawal cancelled</h1>
    </div>
  </div>

  <p><a href="/prosecutor/case-details/{{id}}">Back to case details</a></p>

{{/with}}
