{{>breadcrumb}}

{{#with search}}

  {{>prosecutor/persist-info}}

  <div class="grid-row">

    <div class="column-two-thirds">

      <h1 class="heading-xlarge">{{../pagetitle}}</h1>

      <p>A request to withdraw this offence has been sent to a legal adviser but they haven&rsquo;t dealt with it yet. Do you want to cancel this request?</p>

      <form class="form" method="post" novalidate>

        <div class="form-group form-group-related">
          <button class="button" type="submit">Yes &ndash; cancel request</button>
        </div>

        <a href="/{{../baseurl}}/case-details/{{id}}">Back</a>

      </form>

    </div>

  </div>

{{/with}}
