{{>breadcrumb}}

{{#with search}}

  {{>prosecutor/persist-info}}

  <h1 class="heading-large">{{pagetitle}}</h1>

  <div class="text">
    <p class="lede">You can ask a legal adviser to withdraw all offences. Are you sure you want to do this?</p>
  </div>

  <form class="form" method="post" action="/prosecutor/confirmation/{{id}}" novalidate>

    <div class="form-group form-group-related">
      <button class="button" type="submit">Yes &ndash; send request</button>
    </div>

    <p><a href="/prosecutor/case-details/{{id}}">Cancel</a></p>

  </form>

{{/with}}
