{{>breadcrumb}}

<div class="grid-row">

  <div class="column-two-thirds">

    <h1 class="heading-xlarge">{{pagetitle}}</h1>

    <form class="form" method="post" novalidate>

      <h2 class="heading-medium">Find a case to withdraw the offence</h2>

      <div class="form-group">

        <div class="form-search">

          <label for="search">
            <span class="form-label">Search by reference number or defendant&rsquo;s last name</span>
          </label>

          <input class="form-control form-control-wide" type="search" id="search" name="search"><button class="form-search-button" type="submit">Search</button>

        </div>

      </div>

    </form>

  </div>

</div>
