{{>breadcrumb}}

{{#with search}}

  {{>prosecutor/persist-info}}

  <div class="grid-row">

    <div class="column-two-thirds">

      <h1 class="heading-xlarge">{{../pagetitle}}</h1>

      <div class="notice mb-l">
        <i class="icon icon-important">
          <span class="visually-hidden">Warning</span>
        </i>
        <strong class="bold-small">
          This is because a legal adviser has just started dealing with the case. Contact the court if you need to discuss this.
        </strong>
      </div>

      <a class="button" href="/{{baseurl}}/case-details/{{id}}/">Back to case</a>

    </div>

  </div>

{{/with}}
