{{>breadcrumb}}

{{#with search}}

  {{>court-administrator/persist-info}}

  <div class="grid-row">

    <div class="column-two-thirds">

      <h1 class="heading-xlarge">{{../pagetitle}}</h1>

      <form class="form" method="post" novalidate>

        <div class="form-group">

          <fieldset>

            <legend>
              <span class="form-label-bold">Date case was officially reopened in court</span>
              <span class="form-hint">For example, 31 3 2016</span>
            </legend>

            <div class="form-date">

              <div class="form-group form-group-day">
                <label class="form-label" for="date-order-day">Day</label>
                <input class="form-control" type="number" id="date-order-day">
              </div>

              <div class="form-group form-group-month">
                <label class="form-label" for="date-order-month">Month</label>
                <input class="form-control" type="number" id="date-order-month">
              </div>

              <div class="form-group form-group-year">
                <label class="form-label" for="date-order-year">Year</label>
                <input class="form-control" type="number" id="date-order-year">
              </div>

            </div>

          </fieldset>

        </div>

        <div class="form-group form-group-last">
          <label for="libra-account-number">
            <span class="form-label-bold">New Libra case number</span>
          </label>
          <input class="form-control form-control-1-2" id="libra-account-number" name="libraAccountNumber" type="text">
        </div>

        <div class="form-group form-group-related">
          <button class="button" type="submit">Save</button>
        </div>

        <a href="/{{../baseurl}}/case-details/{{id}}/">Cancel</a>

      </form>

    </div>

  </div>

{{/with}}
