{{>breadcrumb}}

<div class="grid-row">

  <div class="column-two-thirds">

    <h1 class="heading-xlarge">{{pagetitle}}</h1>

    <p>Check you&rsquo;ve entered the correct web address or try your <a href="{{baseurl}}home">home page</a>.</p>

  </div>

</div>
