  {{>breadcrumb}}

  <div class="notification notification-confirmation" role="alert">

    <i class="icon icon-tick-white"></i>

    <div class="notification-message">
      <p class="bold-medium">Withdrawal cancelled</p>
    </div>

  </div>
  
  <p><a href="/case-details/{{search.id}}">Back to case details</a></p>
