  {{>breadcrumb}}

  <div class="persist-info">
    <span class="persist-info-reference">12AA3456716</span>
    <span class="persist-info-title">Mike ROSSS</span>
  </div>

  <h1 class="heading-large">Check offence decisions</h1>

  <section>

    <h2 class="heading-medium">Offences</h2>

    <table class="table table-font-xsmall">

      <caption class="visuallyhidden"></caption>

      <thead>
        <tr>
          <th scope="col">Offence</th>
          <th scope="col">Plea</th>
          <th scope="col">Verdict</th>
          <th scope="col">Result</th>
          <th scope="col">Outcome</th>
          <th scope="col">Compensation</th>
        </tr>
      </thead>

      <tbody>
        <tr>
          <td>Passenger used a ticket issued for another person</td>
          <td>Guilty</td>
          <td>&ndash;</td>
          <td>Fine</td>
          <td>&pound;147</td>
          <td>&pound;3.12</td>
        </tr>
      </tbody>

    </table>

  </section>

  <div class="grid-row">

    <div class="column-half">

      <table class="table table-font-xsmall">

        <caption class="visuallyhidden"></caption>

        <thead>
          <tr>
            <th scope="col" colspan="2">Costs and surcharge</th>
          </tr>
        </thead>

        <tbody>
          <tr>
            <td>Costs</td>
            <td>&pound;125.00</td>
          </tr>
          <tr>
            <td>Surcharge for victim fund</td>
            <td>&pound;30.00</td>
          </tr>
        </tbody>

      </table>

    </div>

  </div>
