<div class="breadcrumbs">
  <ol>
    <li><a href="/">Home</a></li>
    <li>{{{pagetitle}}}</li>
  </ol>
</div>

<div class="grid-row">

  <div class="column-two-thirds">

    <h1 class="heading-xlarge">{{{pagetitle}}}</h1>

    <p class="lede">Page content needs to be added.</p>

  </div>

</div>
