  <a href="/case-tasks" class="link-back">Back</a>
  

  <div class="alert alert-success" role="alert">
    
    <i class="icon icon-tick" role="presentation" aria-hidden="true"></i>
    
    <div class="alert-message">
      <p class="bold-small">You have successfully updated your business details</p>
    </div>
    
  </div>