  <div class="breadcrumbs">
    <ol>
      <li><a href="/case-tasks">Case tasks</a></li>
      <li><a href="/case-details/{{search.id}}">{{search.firstname}} {{search.lastname}}</a></li>
      <li>Withdraw offence</li>
    </ol>
  </div>
  

  <div class="notification notification-confirmation" role="alert">
        
    <i class="icon icon-tick-white" role="presentation" aria-hidden="true"></i>

    <div class="notification-message">
      <p class="bold-medium">Your request has been sent and will be dealt with by a legal adviser</p>
    </div>
  
  </div>
  
  
  <p><a href="/case-details/{{search.id}}">Go back to case</a></p>