  <a href="/" class="link-back">Back</a>
  
  
  <div class="grid-row">
    
    
    <div class="column-two-thirds">
      
      
      <div class="govuk-box-highlight">
        <h2 class="bold-medium">
          Message sent asking legal adviser to withdraw this case
        </h2>
      </div>
      
      <p><a href="">Back to case</a></p>
  
    
    </div>
    
    
    <div class="column-third">
      
      <div class="related">
    
        <div class="related-section">
          <h2 class="related-title">Related links</h2>
          <ul class="related-links">
            <li><a href="#">Upload case related documents</a></li>
            <li><a href="#">Request to withdraw case</a></li>
          </ul>
        </div>
      
      </div>
      
    </div>
  
  
  </div>