  <div class="breadcrumbs">
    <ol>
      <li><a href="#">Case tasks</a></li>
      <li>Send missing SJP notices to court</li>
    </ol>
  </div>

  <p>FOR: Send documents</p>

  <div class="notification notification-confirmation" role="alert">

    <div class="notification-message">
      <p class="bold-medium">Your zip file is being checked for errors</p>
      <p>Check back within 24 hours to find out if it&rsquo;s been successfully sent to court</p>
    </div>

  </div>

  <p>FOR: CSV files</p>

  <div class="notification notification-confirmation" role="alert">

    <div class="notification-message">
      <p class="bold-medium">Your CSV files are being checked for errors</p>
      <p>Check back within 24 hours to find out if they&rsquo;ve been successfully sent to court</p>
    </div>

  </div>

  <p><a href="/case-details">Back to case tasks</a></p>
