  {{>breadcrumb}}

  <div class="grid-row">

    <div class="column-two-thirds">

      <h1 class="heading-xlarge">{{pagetitle}}</h1>

      <form class="form" method="post" action="">


        <h2 class="heading-small">Fine band applied</h2>

        <fieldset class="inline">

          <legend class="visuallyhidden">Fine band applied</legend>

          <div class="form-group">

            <label class="block-label" for="band-a">
              <input id="band-a" type="radio" name="band" value="band-a" checked>Band A
            </label>

            <label class="block-label" for="band-b">
              <input id="band-b" type="radio" name="band" value="band-b">Band B
            </label>

            <label class="block-label" for="band-c">
              <input id="band-c" type="radio" name="band" value="band-c">Band C
            </label>

          </div>

        </fieldset>


        <h2 class="heading-small">Fine</h2>

        <fieldset class="inline">

          <legend class="visuallyhidden">Fine</legend>

          <div class="form-group">

            <label class="block-label" for="fine-amount">
              <input id="fine-amount" type="radio" name="fine" value="147.00" checked>£147.00
            </label>

            <label class="block-label" data-target="new-fine-amount" for="fine-amount-other">
              <input id="fine-amount-other" type="radio" name="fine" value="Other">Other amount
            </label>

            <div class="panel panel-border-narrow js-hidden" id="new-fine-amount">

              <label class="form-label" for="fine-amount-other">Enter new amount</label>

              <span class="form-currency">
                <input class="form-control form-control-1-4" name="fine-amount-other" type="text" id="fine-amount-other">
              </span>

            </div>

          </div>

        </fieldset>


        <h2 class="heading-small">Compensation</h2>

        <fieldset class="inline">

          <legend class="visuallyhidden">Compensation</legend>

          <div class="form-group">

            <label class="block-label" for="compensation-amount">
              <input id="compensation-amount" type="radio" name="compensation" value="3.12" checked>£3.12
            </label>

            <label class="block-label" data-target="new-compensation-amount" for="compensation-amount-other">
              <input id="compensation-amount-other" type="radio" name="compensation" value="Other">Other amount
            </label>

            <div class="panel panel-border-narrow js-hidden" id="new-compensation-amount">

              <div class="form-group">
              <label class="form-label" for="compensation-amount-other">Enter new amount</label>
              <span class="form-currency">
                <input class="form-control form-control-1-4" name="compensation-amount-other" type="text" id="compensation-amount-other">
              </span>
            </div>

              <div class="form-group">
                <label class="form-label" for="compensation-amount-reason">Enter a reason for the change</label>
                <textarea rows="5" cols="30" id="compensation-amount-reason" class="form-control"></textarea>
              </div>

            </div>

          </div>

        </fieldset>

      </form>

    </div>

  </div>
