  {{>breadcrumb}}

  <div class="grid-row">

    <div class="column-two-thirds">

      <h1 class="heading-xlarge">Add employment and income</h1>

      <form class="form" method="post" action="/">

        <div class="form-group">

          <h3 class="heading-medium">Is the defendant employed?</h3>

          <fieldset class="inline">

            <legend class="visuallyhidden">Is the defendant employed?</legend>

            <label class="block-label" for="radio-1" data-target="is-employed">
              <input id="radio-1" type="radio" name="radio-group" value="Yes"> Yes
            </label>

            <label class="block-label" for="radio-2" data-target="not-employed">
              <input id="radio-2" type="radio" name="radio-group" value="No"> No
            </label>

            <label class="block-label" for="radio-3">
              <input id="radio-3" type="radio" name="radio-group" value="Dont know"> Don't know
            </label>

          </fieldset>

          <!-- is employed -->
          <div class="panel panel-border-narrow js-hidden" id="is-employed">

              <h3 class="heading-medium">Employer details</h3>

              <div class="form-group">
                <label for="employer-name">
                  <span class="form-label">Employer name</span>
                </label>
                <input class="form-control" type="text" id="employer-name">
              </div>

              <div class="form-group">

                <fieldset>

                  <legend class="visuallyhidden">Adress</legend>

                  <div class="form-group form-group-compound">
                    <label for="address-line-1">
                      <span class="form-label">Street</span>
                    </label>
                    <input class="form-control" type="text" id="address-line-1">
                  </div>

                  <div class="form-group">
                    <label class="visuallyhidden" for="address-line-2">
                      <span class="form-label">Street</span>
                    </label>
                    <input class="form-control" type="text" id="address-line-2">
                  </div>

                  <div class="form-group">
                    <label for="address-town">
                      <span class="form-label">Town or City</span>
                    </label>
                    <input class="form-control form-control-1-4" type="text" id="address-town">
                  </div>

                  <div class="form-group">
                    <label for="address-postcode">
                      <span class="form-label">Postcode</span>
                    </label>
                    <input class="form-control form-control-1-8" type="text" id="address-postcode">
                  </div>

                </fieldset>

              </div>

              <div class="form-group">
                <label for="employer-telephone">
                  <span class="form-label">Employer telephone</span>
                </label>
                <input class="form-control" type="tel" id="employer-telephone">
              </div>

              <h3 class="heading-medium">Pay</h3>

              <div class="form-group">

                <fieldset>

                  <legend>
                    <span class="form-label">How often do they get paid?</span>
                  </legend>

                  <label class="block-label" data-target="contact-by-email" for="example-contact-by-email">
                    <input id="example-contact-by-email" type="radio" name="radio-contact-group" value="Yes">
                    Weekly
                  </label>
                  <div class="panel panel-border-narrow js-hidden" id="contact-by-email">
                    <label class="form-label" for="contact-email">Weekly net pay (take home)</label>
                    <input class="form-control" name="contact-email" type="text" id="contact-email">
                  </div>

                  <label class="block-label" data-target="contact-by-phone" for="example-contact-by-phone">
                    <input id="example-contact-by-phone" type="radio" name="radio-contact-group" value="No">
                    Fortnightly
                  </label>
                  <div class="panel panel-border-narrow js-hidden" id="contact-by-phone">
                    <label class="form-label" for="contact-phone">Fortnightly net pay (take home)</label>
                    <input class="form-control" name="contact-phone" type="text" id="contact-phone">
                  </div>

                  <label class="block-label" data-target="contact-by-text" for="example-contact-by-text">
                    <input id="example-contact-by-text" type="radio" name="radio-contact-group" value="No">
                    Monthly
                  </label>
                  <div class="panel panel-border-narrow js-hidden" id="contact-by-text">
                    <label class="form-label" for="contact-text-message">Monthly net pay (take home)</label>
                    <input class="form-control" name="contact-text-message" type="text" id="contact-text-message">
                  </div>

                </fieldset>

              </div>

            </div>

            <div class="form-group">

              <h3 class="heading-medium">Are they receiving benefits?</h3>

              <fieldset class="inline">

                <legend class="visuallyhidden">Are they receiving benefits?</legend>

                <label class="block-label" for="radio-inline-1">
                  <input id="radio-inline-1" type="radio" name="radio-inline-group" value="Yes">Yes</label>

                <label class="block-label" for="radio-inline-2">
                  <input id="radio-inline-2" type="radio" name="radio-inline-group" value="No">No
                </label>

              </fieldset>

            </div>

        </div>

      </form>

    </div>

  </div>
