<h1 class="heading-xlarge">{{pagetitle}}</h1>

<div class="grid-row">

  <div class="column-one-half">

    <h2 class="bold-medium mb-m">Version one</h2>

    <ul class="list  list-bullet">
      <li><a class="bold-small" href="/prosecutor">Prosecutor</a></li>
      <li><a class="bold-small" href="/court-administrator">Court administrator</a></li>
      <li><a class="bold-small" href="/legal-adviser">Legal adviser</a></li>
      <li><a class="bold-small" href="/operational-reporting/home">Operational reporting</a></li>
      <li><a class="bold-small" href="/single-justice-procedure-transparency/home">Single Justice Procedure Transparency</a></li>
    </ul>

    <hr class="divider" aria-hidden="true">

    <h2 class="bold-medium mb-m">Version two (proof in absence)</h2>

    <ul class="list list-bullet">
      <li><a class="bold-small" href="/proof-in-absence/court-administrator/">Court administrator</a></li>
      <li><a class="bold-small" href="/proof-in-absence/legal-adviser/">Legal adviser</a></li>
    </ul>

    <hr class="divider" aria-hidden="true">

    <h2 class="bold-medium mb-m">Plead online</h2>

    <ul class="list list-bullet">
      <li><a class="bold-small" href="https://make-a-plea.herokuapp.com" target="_blank">Make a plea<span class="visually-hidden"> (opens in a new window)</span></a></li>
    </ul>

  </div>

</div>
