<h1 class="heading-xlarge">{{pagetitle}}</h1>

<div class="grid-row">

  <div class="column-one-half">

    <h2 class="bold-medium mb-m">Version 1</h2>

    <ul class="list">
      <li><a href="/prosecutor/">TfL Prosecutor</a></li>
      <li><a href="/court-administrator/">Court administrator</a></li>
      <li><a href="/legal-adviser/">Legal adviser</a></li>
      <li><a href="/single-justice-procedure-transparency/home/">Single Justice Procedure Transparency</a></li>
    </ul>

  </div>

  <div class="column-one-half">

    <h2 class="bold-medium mb-m">Version 2 (<abbr title="Proof In Absence">PIA</abbr>)</h2>

    <ul class="list">
      <li><a href="/proof-in-absence/court-administrator/">Court administrator</a></li>
      <li><a href="/proof-in-absence/legal-adviser/">Legal adviser</a></li>
    </ul>

  </div>

</div>
