  <h1 class="heading-xlarge">Login</h1>

  <form method="post" action="/login">

    <p>Stored in a session: <b class="bold-small">{{first_name}}</b></p>

    <label for="firstname">Firstname</label>
    <input type="text" id="firstname" name="firstname">

    <button type="submit">Send</button>

  </form>
