  <h1 class="heading-xlarge">Patterns</h1>
  
  
  <h2 class="heading-large">1. Description lists</h2>
  
  
  <hr>
  
  
  <section>
  
    <h3 class="bold-medium">Personal details</h3>
    
    <dl class="description description-tint">
      <dt>Gender</dt>
      <dd>Male</dd>
      <dt>Date of birth</dt>
      <dd>19 Oct 1972 (age 43)</dd>
      <dt>Address</dt>
      <dd>29 Newport Road, <br> Carnbo, <br> KY13 4GX</dd>
      <dt>Email</dt>
      <dd><a href="mailto:tegan.smith@gmail.com">tegan.smith@gmail.com</a></dd>
      <dt>Phone</dt>
      <dd>0824 002 563</dd>
      <dt>National Insurance number</dt>
      <dd>ZK 89 01 41 A</dd>
    </dl>
  
  </section>
  
  
  <hr>
  
  
  <section>
  
    <h3 class="bold-medium">Personal details</h3>
    
    <dl class="description description-inline">
      <dt>Gender</dt>
      <dd>Male</dd>
      <dt>Date of birth</dt>
      <dd>19 Oct 1972 (age 43)</dd>
      <dt>Address</dt>
      <dd>29 Newport Road, <br> Carnbo, <br> KY13 4GX</dd>
      <dt>Email</dt>
      <dd><a href="mailto:tegan.smith@gmail.com">tegan.smith@gmail.com</a></dd>
      <dt>Phone</dt>
      <dd>0824 002 563</dd>
      <dt>National Insurance number</dt>
      <dd>ZK 89 01 41 A</dd>
    </dl>
  
  </section>
  
  
  <hr>
  
  
  <section>
  
    <h3 class="bold-medium">Personal details</h3>
    
    <dl class="description description-inline description-tint">
      <dt>Gender</dt>
      <dd>Male</dd>
      <dt>Date of birth</dt>
      <dd>19 Oct 1972 (age 43)</dd>
      <dt>Address</dt>
      <dd>29 Newport Road, <br> Carnbo, <br> KY13 4GX</dd>
      <dt>Email</dt>
      <dd><a href="mailto:tegan.smith@gmail.com">tegan.smith@gmail.com</a></dd>
      <dt>Phone</dt>
      <dd>0824 002 563</dd>
      <dt>National Insurance number</dt>
      <dd>ZK 89 01 41 A</dd>
    </dl>
  
  </section>
  
  
  <h2 class="heading-large">2. Files</h2>
  
  
  <hr>
  
  
  <ul>
    <li class="file">
      <i class="icon icon-file-download"></i>
      <div class="file-details">
        <a href="#">SJP notice</a>
        <span class="file-meta">PDF, 157KB</span>
      </div>
    </li>
    <li class="file">
      <i class="icon icon-file-download"></i>
      <div class="file-details">
        <a href="#">Cite notice</a>
        <span class="file-meta">PDF, 514KB</span>
      </div>
    </li>
    <li class="file">
      <i class="icon icon-file-download"></i>
      <div class="file-details">
        <a href="#">Plea</a>
        <span class="file-meta">PDF, 204KB</span>
      </div>
    </li>
    <li class="file">
      <i class="icon icon-file-download"></i>
      <div class="file-details">
        <a href="#">Means</a>
        <span class="file-meta">PDF, 342KB</span>
      </div>
    </li>
  </ul>
  
  
  <h2 class="heading-large">3. Offence</h2>
  
  
  <hr>
  

  <section class="section">
    
    <header>
      <h3 class="bold-small">Public service vehicle &ndash; passenger used ticket issued for another person</h3>
      <p class="font-xsmall">On <time datetime="2016-02-01T00:00">1 February 2016</time></p>
    </header>
    
    <p><strong class="tag tag-plea">Pleaded guilty</strong></p>
    
    <div class="panel panel-border-narrow">
      <p class="font-xsmall"><strong class="bold-xsmall">Statement of facts</strong> <br> I, Inspector Morse, was suspicious as the defendant kept moving seats away from me. When asked for a ticket he replied &ldquo;I don&rsquo;t have one as I am not really on this train, you&rsquo;re seeing an illusion&rdquo;. I had no choice but to issue him with a ticket.</p>
    </div>
    
    <table class="table table-font-xsmall">
      <thead>
        <tr>
          <th colspan="2">Court decisions</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>Verdict</td>
          <td>Guilty plea accepted</td>
        </tr>
        <tr>
          <td>Fine</td>
          <td>&pound;100</td>
        </tr>
        <tr>
          <td>Compensation</td>
          <td>&pound;3.50</td>
        </tr>
        <tr>
          <td>Guilty plea <abbr title="Taken into Consideration">TIC</abbr></td>
          <td>Yes</td>
        </tr>
      </tbody>
    </table>
    
    <p><a href="#">Withdraw offence</a></p>
    
  </section>

  
  
  
  
  