  <h1 class="heading-xlarge">Patterns</h1>
  
  
  <h2 class="heading-medium">Banners</h2>
  
  
  <div class="example">

    <div class="banner banner-confirmation">
      <div class="banner-message">
        <p>Accepted case management information</p>
      </div>
    </div>
    
    <div class="banner banner-active">
      
      <i class="icon icon-tick"></i>
      
      <div class="banner-message">
        <p>With optional tick icon and text wrapping lorem ipsum dolor sit amet, consectetur adipiscing elit sed do tem por incididunt ut labore et dolore magna aliqua</p>
      </div>
      
    </div>
    
    <div class="banner banner-pending">
      <div class="banner-message">
        <p>Text only with no icon</p>
      </div>
    </div>
    
    <div class="banner banner-locked">
      <div class="banner-message">
        <p>This users mobile number has not yet been verified</p>
      </div>
    </div>
    
    <div class="banner banner-deregistered">
      <div class="banner-message">
        <p>Example grey notification</p>
      </div>
    </div>
    
  </div>
  
  
  <h2 class="heading-medium">Summary item</h2>
  
  
  <div class="example">
      
    <div class="grid-row">
      
      <div class="column-one-third">
        
        <div class="summary-item">
          <span class="summary-figure">8</span> 
          <strong class="summary-label">statements</strong>
        </div>
        
      </div>
      
      <div class="column-one-third">
        
        <div class="summary-item">
          <span class="summary-figure">44</span> 
          <strong class="summary-label">exhibits</strong>
        </div>
        
      </div>
      
      <div class="column-one-third">
        
        <div class="summary-item">
          <span class="summary-figure">13</span> 
          <strong class="summary-label">additional documents</strong>
        </div>
        
      </div>
    
    </div>
  
  </div>
  
  
  <div class="example">
      
    <div class="grid-row">
      
      <div class="column-one-third">
        
        <div class="summary-item">
          
          <a href="#">
            <span class="summary-figure">761</span> 
            <strong class="summary-label">statements</strong>
          </a>
          
        </div>
        
      </div>
      
      <div class="column-one-third">
        
        <div class="summary-item">
          
          <a href="#">
            <span class="summary-figure">987</span> 
            <strong class="summary-label">exhibits</strong>
          </a>
          
        </div>
        
      </div>
      
      <div class="column-one-third">
        
        <div class="summary-item">
          
          <a href="#">
            <span class="summary-figure">254</span> 
            <strong class="summary-label">additional documents</strong>
          </a>
          
        </div>
        
      </div>
    
    </div>
  
  </div>
  
  
  <h2 class="heading-medium">Description lists</h2>
  
  
  <div class="example">
      
    <dl class="description description-tint">
      <dt>Gender</dt>
      <dd>Male</dd>
      <dt>Date of birth</dt>
      <dd>19 Oct 1972 (age 43)</dd>
      <dt>Address</dt>
      <dd>29 Newport Road, <br> Carnbo, <br> KY13 4GX</dd>
      <dt>Email</dt>
      <dd><a href="mailto:tegan.smith@gmail.com">tegan.smith@gmail.com</a></dd>
      <dt>Phone</dt>
      <dd>0824 002 563</dd>
      <dt>National Insurance number</dt>
      <dd>ZK 89 01 41 A</dd>
    </dl>
  
  </div>
  
  
  <div class="example">
      
    <dl class="description description-inline">
      <dt>Gender</dt>
      <dd>Male</dd>
      <dt>Date of birth</dt>
      <dd>19 Oct 1972 (age 43)</dd>
      <dt>Address</dt>
      <dd>29 Newport Road, <br> Carnbo, <br> KY13 4GX</dd>
      <dt>Email</dt>
      <dd><a href="mailto:tegan.smith@gmail.com">tegan.smith@gmail.com</a></dd>
      <dt>Phone</dt>
      <dd>0824 002 563</dd>
      <dt>National Insurance number</dt>
      <dd>ZK 89 01 41 A</dd>
    </dl>
  
  </div>
  
  
  <h2 class="heading-medium">Digit box</h2>
  
  
  <div class="example">
    
    <div class="digit-box">
      <span class="digit-box-number">07700900753</span>
    </div>
    
  </div>
  
  
  <h2 class="heading-medium">Persist info</h2>
  
  
  <div class="example">
    
    <div class="persist-info">
      <span class="persist-info-reference">29324692</span>
      <span class="persist-info-title">Billy SMITH</span>
    </div>
    
  </div>
  
  
  <h2 class="heading-medium">Contact info</h2>
  
  <p>Includes schema information (semantic vocabulary) &ndash; <a href="https://schema.org/" rel="external">https://schema.org</a></p>
  
  
  <div class="example">
    
    
    <h3 class="heading-small">Your organisation</h3>
    
    <div itemtype="http://schema.org/LocalBusiness" itemscope>
       <span itemprop="name">Slater and Gordon (UK) LLP</span>
       <div itemprop="address" itemtype="http://schema.org/PostalAddress" itemscope>
         <div itemprop="streetAddress">Suite 3.1 <br>Third Floor <br>Exchange Court <br>1 Dale Street</div>
         <div itemprop="addressLocality">Liverpool</div>
         <div itemprop="postalCode">L2 2ET</div>
       </div>
    </div>
    
    
  </div>
  
  
  <div class="example">
    
    <div itemtype="http://schema.org/Person" itemscope>
      <div itemprop="jobTitle">Supervisor officer</div>
      <div itemprop="name">DC Amelia Hicks</div>
      <div itemprop="telephone">0151 123 4567</div>
      <a itemprop="email" href="mailto:hicksa@liverpool.police.uk">hicksa@liverpool.police.uk</a>
    </div>
    
  </div>
  
  
  <h2 class="heading-medium">File downloads</h2>
  
  
  <div class="example">
    
    <ul class="list list-file list-inline">
    
      <li class="file">
        <i class="icon icon-file-download"></i>
        <div class="file-details">
          <a href="#">SJP notice</a>
          <span class="file-meta">PDF, 157KB</span>
        </div>
      </li>
      
      <li class="file">
        <i class="icon icon-file-download"></i>
        <div class="file-details">
          <a href="#">Cite notice</a>
          <span class="file-meta">PDF, 514KB</span>
        </div>
      </li>
      
      <li class="file">
        <i class="icon icon-file-download"></i>
        <div class="file-details">
          <a href="#">Plea</a>
          <span class="file-meta">PDF, 204KB</span>
        </div>
      </li>
      
      <li class="file">
        <i class="icon icon-file-download"></i>
        <div class="file-details">
          <a href="#">Means</a>
          <span class="file-meta">PDF, 342KB</span>
        </div>
      </li>
      
    </ul>
    
  </div>
  
  
  <div class="example">
    
    <ul class="list list-file">
    
      <li class="file">
        <i class="icon icon-file-download"></i>
        <div class="file-details">
          <a href="#">SJP notice</a>
          <span class="file-meta">PDF, 157KB</span>
        </div>
      </li>
      
      <li class="file">
        <i class="icon icon-file-download"></i>
        <div class="file-details">
          <a href="#">Cite notice</a>
          <span class="file-meta">PDF, 514KB</span>
        </div>
      </li>
      
      <li class="file">
        <i class="icon icon-file-download"></i>
        <div class="file-details">
          <a href="#">Plea</a>
          <span class="file-meta">PDF, 204KB</span>
        </div>
      </li>
      
      <li class="file">
        <i class="icon icon-file-download"></i>
        <div class="file-details">
          <a href="#">Means</a>
          <span class="file-meta">PDF, 342KB</span>
        </div>
      </li>
      
    </ul>
    
  </div>
    
    
  </div>