   <div class="breadcrumbs">
    <ol>
      <li><a href="/case-tasks">Case tasks</a></li>
      <li>Fix CSV errors</li>
    </ol>
  </div>
 
  
  <h1 class="heading-xlarge">Fix CSV errors</h1>
  
  
  <ul class="list">
    <li>File name: case-123456789</li>
    <li>Uploaded on: 12 January 2016 </li>
  </ul>
  

  <h2 class="heading-medium">Remove cases from CSV</h2>
  
  <p class="text">Your file contains these cases which have already been sent to court previously.</p>
  
  
  <table class="table">
  
    <thead>
      <tr>
        <th>Case number</th>
        <th>Batch number</th>
      </tr>
    </thead> 
    
    <tbody>
      <tr>
        <td>TFL2035119</td>
        <td>000251</td>
      </tr>
      <tr>
        <td>TFL2035119</td>
        <td>000252</td>
      </tr>
    </tbody> 
    
  </table>