  <div class="breadcrumbs">
    <ol>
      <li><a href="/case-tasks">Case tasks</a></li>
      <li>Send data files to court</li>
    </ol>
  </div>
    
    
  <h1 class="heading-xlarge">Send data files to court</h1>


  <form class="form">
      

    <h2 class="heading-small">Select header <abbr title="Comma Separated Value">CSV</abbr></h2>
    
    <div class="form-group">
      
      <label class="button button-secondary">Upload
        <input class="hidden" type="file" accept=".csv">
      </label>
      
      <div class="panel panel-border-narrow">
        
        <p class="font-xsmall">
          <span class="bold-xsmall">File selected</span> <br> 
          <span class="text-secondary">case_header_123456789.csv</span> <br> <a href="#">Remove</a>
        </p>
        
      </div>
      
    </div>
    
    
    <h2 class="heading-small">Select offences <abbr title="Comma Separated Value">CSV</abbr></h2>
    
    <div class="form-group form-group-last">
      
      <label class="button button-secondary">Upload
        <input class="hidden" type="file" accept=".csv">
      </label>
      
      <div class="panel panel-border-narrow">
        
        <p class="font-xsmall">
          <span class="bold-xsmall">File selected</span> <br> 
          <span class="text-secondary">case_offences_987654321.csv</span> <br> <a href="#">Remove</a>
        </p>
        
      </div>
      
    </div>


    <button class="button" type="submit">Send to court</button>
  

  </form>