  <div class="breadcrumbs">
    <ol>
      <li><a href="/case-tasks">Case tasks</a></li>
      <li>Send documents to court</li>
    </ol>
  </div>
  
  
  <h1 class="heading-xlarge">Send documents to court</h1>


  <div class="text">
    
    <p>Upload a file of documents. You can include:</p>
    
    <ul class="list list-bullet">
      <li><abbr title="Single Justice Procedure">SJP</abbr> notices</li>
      <li>previous convictions</li>
      <li>witness statements</li>
    </ul>
    
  </div>
  
  
  <h2 class="heading-small">Select file</h2>
  
  
  <form class="form">
      
    <div class="form-group form-group-last">
      
      <label class="button button-secondary">Upload
        <input class="hidden" type="file">
      </label>
      
    </div>
    
    <button class="button" type="submit">Send to court</button>
  
  </form>