  <div class="breadcrumbs">
    <ol>
      <li><a href="/">Case tasks</a></li>
      <li>Send documents to court</li>
    </ol>
  </div>
  
  
  <div class="grid-row">
    
    
    <div class="column-two-thirds">
    
    
      <h1 class="heading-xlarge">Send documents to court</h1>
      
      
      <p class="lede">Upload a single zip file of documents, for example <abbr title="Single Justice Procedure">SJP</abbr> notices, previous convictions or others.</p>
      
      
      <h2 class="heading-small">Select file</h2>
        
        
      <div class="form-group form-group-last">
        
        <label class="button button-secondary">Upload
          <input class="hidden" type="file">
        </label>
        
        <div class="panel panel-border-narrow">
            
          <p class="font-xsmall">
            <span class="bold-xsmall">File selected</span> <br> 
            <span class="text-secondary">batch_000001234_123456789.zip</span> <br> <a href="#">Remove</a>
          </p>
          
        </div>
        
      </div>
      
      
      <button class="button" type="submit">Send to court</button>
      
    
    </div>
  
  
  </div>