<h1 class="heading-xlarge">{{pagetitle}}</h1>

<p class="lede">This page is only for testing purposes&hellip;<p>

  <section>

    <div class="grid">

      <div class="grid__cell">

        <h3 class="heading-medium">Main heading</h3>

      </div>

      <div class="grid__cell">

        <article>
          <h4 class="heading-small">Title</h4>
          <div class="content">
            <p>Some content goes here&hellip;</p>
          </div>
        </article>

        <article>
          <h4 class="heading-small">Title</h4>
          <div class="content">
            <p>Some content goes here&hellip;</p>
          </div>
        </article>

        <article>
          <h4 class="heading-small">Title</h4>
          <div class="content">
            <p>Some content goes here&hellip;</p>
          </div>
        </article>

      </div>

    </div>

  </section>
