  <div class="breadcrumbs">
    <ol>
      <li><a href="/case-tasks">Case tasks</a></li>
      <li><a href="/case-details/{{search.id}}">{{search.firstname}} {{search.lastname}}</a></li>
      <li>Withdraw offence</li>
    </ol>
  </div>
  
  
  <h1 class="heading-xlarge">Withdraw offence</h1>
  
  
  <div class="text">
    <p class="lede">You can ask a legal adviser to withdraw this offence. Are you sure you want to do this?</p>
  </div>
  

  <form class="form">
    
    <div class="form-group form-group-related">
      <button class="button" type="submit">Yes &ndash; send request</button>
    </div>
    
    <p><a href="/case-details/{{search.id}}">Cancel</a></p>
  
  </form>