  <div class="breadcrumbs">
    <ol>
      <li><a href="/">Case tasks</a></li>
      <li><a href="/case-details/{{search.id}}">{{search.firstname}} {{search.lastname}}</a></li>
      <li>Withdraw case</li>
    </ol>
  </div>
  
  
  <div class="grid-row">
    
    
    <div class="column-two-thirds">
      
      
      <h1 class="heading-xlarge">Withdraw case</h1>
      
      
      <p class="lede">You can ask a legal adviser to withdraw this case. Are you sure you want to do this?</p>
      
    
      <form class="form">
    
        <div class="form-group">
          <button class="button" type="submit">Yes</button>
        </div>
        
        <p><a href="#">Cancel</a></p>
  
      </form>
    
    
    </div>
  
  
  </div>