{{#with search}}

{{>legal-adviser/persist-info}}

<div class="grid-row">

  <div class="column-two-thirds">

    <div class="notification notification-confirmation" role="alert">
      <i class="icon icon-tick-white" role="presentation" aria-hidden="true"></i>
      <div class="notification-message">
        <h1 class="bold-medium">Decision submitted</h1>
        <p>Case {{personal-details.urn}} complete</p>
      </div>
    </div>

    <p><a class="button" href="/legal-adviser/{{../url}}/{{../id}}" role="button">Continue to next case</a></p>

  </div>

</div>

{{/with}}
