{{>breadcrumb}}

<div class="grid-row">

  <div class="column-two-thirds">

    <h1 class="heading-xlarge"><span class="heading-secondary">{{apptitle}}</span> {{pagetitle}}</h1>

    <h2 class="heading-medium">Search for a case</h2>

    <form class="form" method="post">

      <div class="form-group">

        <div class="form-search">

          <label for="search">
            <span class="form-label">Enter case reference number or defendant&rsquo;s last name</span>
          </label>

          <input class="form-control form-control-wide" type="search" id="search" name="search"><button class="form-search-button" type="submit">Search</button>

        </div>

      </div>

    </form>

  </div>

</div>

<div class="grid-row">

  <div class="column-two-thirds">

    <h2 class="heading-medium" id="make-case-decisions">Make case decisions</h2>

    <ul class="list" aria-labelledby="make-case-decisions">
      <li><p><a href="{{baseurl}}start-a-new-sjp-session/">Start a new SJP session</a> (5 cases)</p></li>
    </ul>

  </div>

</div>
