{{>breadcrumb}}

<div class="grid-row">

  <div class="column-two-thirds">

    <h1 class="heading-xlarge"><span class="heading-secondary">{{apptitle}}</span> {{pagetitle}}</h1>

    <form class="form" method="post">

      <div class="form-group">
        <label class="form-label" for="court-location">Court location</label>
        <select class="form-control" id="court-location" name="courtLocation">
          <option value="cl-1">Court location 1</option>
          <option value="cl-2">Court location 2</option>
          <option value="cl-3">Court location 3</option>
        </select>
      </div>

      <div class="form-group">
        <label class="form-label" for="local-justice-area">Local justice area</label>
        <select class="form-control" id="local-justice-area" name="localJusticeArea">
          <option value="lja-1">Local justice area 1</option>
          <option value="lja-2">Local justice area 2</option>
          <option value="lja-3">Local justice area 3</option>
        </select>
      </div>

      <div class="form-group form-group-last">

        <fieldset class="inline">

          <legend>
            <span class="form-label">Are you working with a magistrate?</span>
          </legend>

          <label class="block-label" for="working-with-magistrate-yes" data-target="working-with-magistrate">
            <input type="radio" id="working-with-magistrate-yes" name="workingWithMagistrate" value="Yes"> Yes
          </label>

          <label class="block-label" for="working-with-magistrate-no">
            <input type="radio" id="working-with-magistrate-no" name="workingWithMagistrate" value="No"> No &ndash; i&rsquo;m working under delegated powers
          </label>

          <div class="panel panel-border-narrow js-hidden" id="working-with-magistrate">
            <label class="form-label" for="magistrates-name">Magistrate&rsquo;s name</label>
            <input class="form-control" type="text" id="magistrates-name" name="magistratesName">
          </div>

        </fieldset>

      </div>

      <div class="form-group">
        <button class="button" type="submit">Save and continue</button>
      </div>

    </form>

  </div>

</div>
