<div class="breadcrumbs">
  <ol>
    <li><a href="/">Home</a></li>
    <li>{{{pagetitle}}}</li>
  </ol>
</div>

<h1 class="heading-xlarge">{{pagetitle}}</h1>

<form class="form" method="post" novalidate>

  <div class="form-group">
    <label for="username">
      <span class="form-label">Username</span>
    </label>
    <input class="form-control" id="username" name="username" type="text">
  </div>

  <div class="form-group">
    <label for="password">
      <span class="form-label">Password</span>
    </label>
    <input class="form-control" id="password" name="password" type="password">
  </div>

  <div class="form-group form-group-related">
    <button class="button" type="submit">Sign in</button>
  </div>

  <p><a href="/forgotten-your-password">Forgotten your password</a></p>

</form>
