<div class="grid-row">

  <div class="column-two-thirds">

    <h1 class="heading-xlarge">{{{pagetitle}}}</h1>

    <p class="lede">You have no more cases to review at present.</p>

    <p><a class="button" href="/legal-adviser/home" role="button">Go to home page</a></p>

  </div>

</div>
