{{>breadcrumb}}

<div class="grid-row">

  <div class="column-two-thirds">

    <div class="notification notification-confirmation" role="alert">
      <i class="icon icon-tick-white" role="presentation" aria-hidden="true"></i>
      <div class="notification-message">
        <h1 class="bold-medium">{{pagetitle}}</h1>
        <p>There are no more cases to review at present</p>
      </div>
    </div>

    <p><a class="button" href="/legal-adviser/home" role="button">Go to home page</a></p>

  </div>

</div>
