<div class="persist-info">
  <span class="persist-info-reference">{{urn}}</span>
  <span class="persist-info-title"><b>{{firstname}} <span class="text-uppercase">{{lastname}}</span></b></span>
</div>
