{{>breadcrumb}}

<div class="grid-row">

  <div class="column-two-thirds">

    <h1 class="heading-xlarge">{{{pagetitle}}}</h1>

    <p class="lede">{{{leadtext}}}</p>

    <p><a class="button" href="#">Continue to next case</a></p>

  </div>

</div>
