/* Dividers */

$module: "divider";

.#{$module} {
  background-color: $border-colour;
  border: 0;
  display: block;
  height: em(1);
  margin-top: $gutter;
  margin-bottom: $gutter;
  padding: 0;

  &-border-dark {
    background-color: $black;
  }

  &-border-thick {
    height: em(5);
  }

  @include media(tablet) {

    &-gutter-large {
      margin-top: $gutter*2;
      margin-bottom: $gutter*2;
    }

  }

}


/*

HTML Usage

<hr>

<hr class="divider">

<hr class="divider divider-border-dark">

<hr class="divider divider-border-dark divider-border-thick">

*/
