/* Warning banner */

$module: "banner";

.#{$module} {
  @include core-16;
  @extend %clearfix;
  color: $white;
  margin-top: em(10, 16);
  margin-bottom: em(10, 16);
  padding: em(10);


  &-warning {
    background-color: $mellow-red;
  }


  &-confirmation {
    background-color: $turquoise;
  }


  &-message {
    color: $white;
    display: table-cell;

    p {
      font-weight: 700;
      margin: 0;
    }

  }


  .icon {
    display: table-cell;
    vertical-align: top;

    + .#{$module}-message {
      padding-left: em(10, 16);
    }

  }


}

/*

HTML Usage

<div class="banner banner-warning" role="alert">
  <i class="icon icon-banner-warning" role="presentation" aria-hidden="true"></i>
  <div class="banner-message">
    <p>This case is view&ndash;only as a legal adviser is making a decision on it &ndash; try again later if you need to edit.</p>
  </div>
</div>

<div class="banner banner-confirmation" role="alert">
  <i class="icon icon-banner-confirmation" role="presentation" aria-hidden="true"></i>
  <div class="banner-message">
    <p>Your changes have been saved</p>
  </div>
</div>

*/
