<header class="header" role="banner">

  <div class="header-wrapper">

    <nav class="header-nav">
      <a class="header-name" href="/">{{apptitle}}</a>
      <ul class="header-menu">
          <li><a href="/your-account">Your account</a></li>
          <li><a href="{{baseurl}}">Sign out</a></li>
      </ul>
    </nav>

  </div>

</header>
