{{>breadcrumb}}


<div class="grid-row">

  <div class="column-two-thirds">

    <h1 class="heading-xlarge">{{pagetitle}}</h1>

    <h2 class="heading-medium">Defendant case results</h2>

  </div>

</div>


<div class="grid-row">

  <div class="column-two-thirds">

    <div class="panel panel-border-wide">
      <p>12 cases matching your search criteria</p>
    </div>

  </div>

  <div class="column-third">
    <p class="text-right"><a class="button" href="/single-justice-procedure-transparency/search-for-case" role="button">Search again</a></p>
  </div>

</div>


<table class="table table-font-xsmall">
  <caption class="visually-hidden">Defendant cases</caption>
  <thead>
    <tr>
      <th scope="col">Defendant</th>
      <th scope="col">Court reference</th>
      <th scope="col">Prosecutor</th>
      <th scope="col">Offence</th>
      <th scope="col">Case status</th>
    </tr>
  </thead>

  <tbody>
    <tr>
      <th scope="row"><a href="#">JONES Tom</a></th>
      <td>C123456789</td>
      <td>Transport for London</td>
      <td>Travelling without a valid ticket</td>
      <td>Pending decision</td>
    </tr>
    <tr>
      <th scope="row"><a href="#">BARKER Tom</a></th>
      <td>C123456789</td>
      <td>Transport for London</td>
      <td>Travelling without a valid ticket</td>
      <td>Decision made</td>
    </tr>
    <tr>
      <th scope="row"><a href="#">BARKER Tom</a></th>
      <td>C123456789</td>
      <td>Transport for London</td>
      <td>Travelling without a valid ticket</td>
      <td>Decision made</td>
    </tr>
    <tr>
      <th scope="row"><a href="#">JONES Tom</a></th>
      <td>C123456789</td>
      <td>Transport for London</td>
      <td>Travelling without a valid ticket</td>
      <td>Decision made</td>
    </tr>
    <tr>
      <th scope="row"><a href="#">SAINT Tom</a></th>
      <td>C123456789</td>
      <td>Transport for London</td>
      <td>Travelling without a valid ticket</td>
      <td>Pending decision</td>
    </tr>
    <tr>
      <th scope="row"><a href="#">JONES Tom</a></th>
      <td>C123456789</td>
      <td>Transport for London</td>
      <td>Travelling without a valid ticket</td>
      <td>Pending decision</td>
    </tr>
    <tr>
      <th scope="row"><a href="#">JONES Tom</a></th>
      <td>C123456789</td>
      <td>Transport for London</td>
      <td>Travelling without a valid ticket</td>
      <td>Pending decision</td>
    </tr>
    <tr>
      <th scope="row"><a href="#">JONES Tom</a></th>
      <td>C123456789</td>
      <td>Transport for London</td>
      <td>Travelling without a valid ticket</td>
      <td>Pending decision</td>
    </tr>
    <tr>
      <th scope="row"><a href="#">SMITH Tom</a></th>
      <td>C123456789</td>
      <td>Transport for London</td>
      <td>Travelling without a valid ticket</td>
      <td>Pending decision</td>
    </tr>
    <tr>
      <th scope="row"><a href="#">HARRISON Tom</a></th>
      <td>C123456789</td>
      <td>Transport for London</td>
      <td>Travelling without a valid ticket</td>
      <td>Pending decision</td>
    </tr>
    <tr>
      <th scope="row"><a href="#">LEMON Tom</a></th>
      <td>C123456789</td>
      <td>Transport for London</td>
      <td>Travelling without a valid ticket</td>
      <td>Pending decision</td>
    </tr>
    <tr>
      <th scope="row"><a href="#">KING Tom</a></th>
      <td>C123456789</td>
      <td>Transport for London</td>
      <td>Travelling without a valid ticket</td>
      <td>Pending decision</td>
    </tr>
  </tbody>

</table>
