{{>breadcrumb}}


<div class="grid-row">

  <div class="column-two-thirds">

    <h1 class="heading-xlarge">{{{pagetitle}}}</h1>

    <h2 class="heading-medium">Defendant case results</h2>

  </div>

</div>


<div class="grid-row">

  <div class="column-two-thirds">

    <div class="panel panel-border-wide" role="note" aria-label="Information">
      <p>12 cases matching your search criteria</p>
    </div>

  </div>

  <div class="column-third">
    <p class="text-right"><a class="button" href="/single-justice-procedure-transparency/search-for-case">Search again</a></p>
  </div>

</div>


<table class="table table-font-xsmall">
  <caption class="visually-hidden">Defendant cases</caption>
  <thead>
    <tr>
      <th scope="col">Defendant</th>
      <th scope="col">Court reference</th>
      <th scope="col">Prosecutor</th>
      <th scope="col">Offence</th>
      <th scope="col">Case status</th>
    </tr>
  </thead>

  <tbody>
    <tr>
      <th scope="row"><a href="/"><span class="text-uppercase">Jones</span> Tom</a></th>
      <td>C123456789</td>
      <td>Transport for London</td>
      <td>Travelling without a valid ticket</td>
      <td>Pending decision</td>
    </tr>
    <tr>
      <th scope="row"><a href="/"><span class="text-uppercase">Barker</span> Tom</a></th>
      <td>C123456789</td>
      <td>Transport for London</td>
      <td>Travelling without a valid ticket</td>
      <td>Decision made</td>
    </tr>
    <tr>
      <th scope="row"><a href="/"><span class="text-uppercase">Barker</span> Tom</a></th>
      <td>C123456789</td>
      <td>Transport for London</td>
      <td>Travelling without a valid ticket</td>
      <td>Decision made</td>
    </tr>
    <tr>
      <th scope="row"><a href="/"><span class="text-uppercase">Jones</span> Tom</a></th>
      <td>C123456789</td>
      <td>Transport for London</td>
      <td>Travelling without a valid ticket</td>
      <td>Decision made</td>
    </tr>
    <tr>
      <th scope="row"><a href="/"><span class="text-uppercase">Saint</span> Tom</a></th>
      <td>C123456789</td>
      <td>Transport for London</td>
      <td>Travelling without a valid ticket</td>
      <td>Pending decision</td>
    </tr>
    <tr>
      <th scope="row"><a href="/"><span class="text-uppercase">Jones</span> Tom</a></th>
      <td>C123456789</td>
      <td>Transport for London</td>
      <td>Travelling without a valid ticket</td>
      <td>Pending decision</td>
    </tr>
    <tr>
      <th scope="row"><a href="/"><span class="text-uppercase">Jones</span> Tom</a></th>
      <td>C123456789</td>
      <td>Transport for London</td>
      <td>Travelling without a valid ticket</td>
      <td>Pending decision</td>
    </tr>
    <tr>
      <th scope="row"><a href="/"><span class="text-uppercase">Jones</span> Tom</a></th>
      <td>C123456789</td>
      <td>Transport for London</td>
      <td>Travelling without a valid ticket</td>
      <td>Pending decision</td>
    </tr>
    <tr>
      <th scope="row"><a href="/"><span class="text-uppercase">Smith</span> Tom</a></th>
      <td>C123456789</td>
      <td>Transport for London</td>
      <td>Travelling without a valid ticket</td>
      <td>Pending decision</td>
    </tr>
    <tr>
      <th scope="row"><a href="/"><span class="text-uppercase">Harrison</span> Tom</a></th>
      <td>C123456789</td>
      <td>Transport for London</td>
      <td>Travelling without a valid ticket</td>
      <td>Pending decision</td>
    </tr>
    <tr>
      <th scope="row"><a href="/"><span class="text-uppercase">Lemon</span> Tom</a></th>
      <td>C123456789</td>
      <td>Transport for London</td>
      <td>Travelling without a valid ticket</td>
      <td>Pending decision</td>
    </tr>
    <tr>
      <th scope="row"><a href="/"><span class="text-uppercase">King</span> Tom</a></th>
      <td>C123456789</td>
      <td>Transport for London</td>
      <td>Travelling without a valid ticket</td>
      <td>Pending decision</td>
    </tr>
  </tbody>

</table>
