{{>breadcrumb}}

<div class="grid-row">

  <div class="column-two-thirds">

    <h1 class="heading-xlarge">{{pagetitle}}</h1>

    <form class="form" method="post" novalidate>

      <h3 class="heading-medium">Search criteria</h3>

      <div class="form-group">
        <label for="defendants-firstname">
          <span class="form-label">Defendants firstname</span>
        </label>
        <input class="form-control form-control-3-4" type="text" id="defendants-firstname" name="defendantsFirstname" value="Tom">
      </div>

      <div class="form-group">
        <label for="defendants-lastname">
          <span class="form-label">Defendants lastname</span>
        </label>
        <input class="form-control form-control-3-4" type="text" id="defendants-lastname" name="defendantsLastname">
      </div>

      <div class="form-group">
        <label for="prosecutor">
          <span class="form-label">Prosecutor</span>
        </label>
        <select class="form-control form-control-3-4" id="prosecutor" name="prosecutor">
          <option>Select</option>
          <option value="Transport for London" selected="selected">Transport for London</option>
        </select>
      </div>

      <div class="form-group">
        <label for="local-justice-area">
          <span class="form-label">Local justice area</span>
        </label>
        <select class="form-control form-control-3-4" id="local-justice-area" name="localJusticeArea">
          <option>Select</option>
          <option value="South West London" selected="selected">South West London</option>
          <option value="South West London">South Wales</option>
        </select>
      </div>

      <div class="form-group form-group-last">
        <label for="case-status">
          <span class="form-label">Case status</span>
        </label>
        <select class="form-control form-control-3-4" id="case-status" name="caseStatus">
          <option>Select</option>
          <option value="Pending a decision">Pending a decision</option>
          <option value="Decision made">Decision made</option>
        </select>
      </div>

      <div class="form-group">
        <button class="button" type="submit">Search</button>
      </div>

    </form>

  </div>

</div>
