{{>breadcrumb}}

{{#with search}}

  {{>prosecutor/persist-info}}

  <div class="banner banner-confirmation" role="alert">
    <i class="icon icon-banner-confirmation" role="presentation" aria-hidden="true"></i>
    <div class="banner-message">
      <p>Withdrawal request cancelled</p>
    </div>
  </div>

  <p class="mt-l"><a class="button" href="/prosecutor/case-details/{{id}}" role="button">Back to case</a></p>

{{/with}}
