{{>breadcrumb}}

{{#with search}}

  {{>prosecutor/persist-info}}

  <div class="grid-row">

    <div class="column-two-thirds">

    <h1 class="heading-large">Cancel withdrawal of offence</h1>

    <p class="lede">A request to withdraw this offence was sent to a legal adivser on 1 August 2016. Do you want to cancel this request?</p>

    <form class="form" method="post" action="/prosecutor/cancel-withdrawal-offence-confirmation/{{id}}" novalidate>

      <div class="form-group form-group-related">
        <button class="button" type="submit">Yes &ndash; cancel request</button>
      </div>

      <p><a href="/prosecutor/case-details-cancel-withdraw/{{id}}">Back</a></p>

    </form>

    </div>

  </div>

{{/with}}
