{{>breadcrumb}}

<h1 class="heading-xlarge">{{pagetitle}}</h1>

<table class="table table-font-xsmall">
  <caption class="visuallyhidden">Case list</caption>
  <thead>
    <tr>
      <th scope="col">Prosecutor</th>
      <th scope="col">Defendant name</th>
      <th scope="col">Offence title</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th scope="row">&nbsp;</th>
      <td>&nbsp;</td>
      <td>&nbsp;</td>
    </tr>
  </tbody>
</table>

<!--div class="pagination">

  <div class="pagination-prev">
    <a href="#" rel="prev" title="Navigate to previous part">
      <span class="pagination-label">Previous</span>
    </a>
  </div>

  <ul class="pagination-numbers">
    <li><a href="#">1</a></li>
    <li><a href="#">2</a></li>
    <li><a href="#">3</a></li>
    <li><a href="#">4</a></li>
  </ul>

  <div class="pagination-next">
    <a href="#" rel="next" title="Navigate to next part">
      <span class="pagination-label">Next</span>
    </a>
  </div>

</div-->
