  {{>breadcrumb}}

  <div class="grid-row">

    <div class="column-two-thirds">

    <div class="notification notification-confirmation" role="alert">

      <div class="notification-message">
        <p class="bold-medium">Your CSV files are being checked for errors</p>
        <p class="lede">Check back within 24 hours to find out if they&rsquo;ve been successfully sent to court</p>
      </div>

    </div>

    <p><a href="/prosecutor/case-tasks">Back to case tasks</a></p>

  </div>

</div>
