  {{>breadcrumb}}

  <div class="grid-row">

    <div class="column-two-thirds">

    <div class="notification notification-confirmation" role="alert">

      <div class="notification-message">
        <h1 class="bold-medium">Your zip file is being checked for errors</h1>
        <p class="lede">Check back within 24 hours to find out if it&rsquo;s been successfully sent to court</p>
      </div>

    </div>

    <p><a href="/prosecutor/home">Back to home</a></p>

  </div>

</div>
