{{>breadcrumb}}

<div class="homepage-masthead">

  <h1 class="bold-xlarge mb-l">{{apptitle}}</h1>

  <div class="grid-row">

    <div class="column-two-thirds">

      <h2 class="bold-medium">Search for a case</h2>

      <form class="form" method="post" action="/prosecutor/search-for-a-case">

        <div class="form-search form-search-home">

          <label for="search">
            <span class="form-label">Enter case reference number or defendant&rsquo;s last name</span>
          </label>

          <input class="form-control form-control-wide" type="search" id="search" name="search"><button class="form-search-button" type="submit">Search</button>

        </div>

    </div>

  </div>

</div>

{{#is phaseBannerHome true}}
  {{>phase-banner}}
{{/is}}

<div class="grid-row">

  <div class="column-two-thirds">

    <h2 class="heading-medium" id="send-data-files-to-court">Send data files to court</h2>

    <ul class="list" aria-labelledby="send-data-files-to-court">
      <li><p ><a href="/prosecutor/send-data-files">Upload CSVs</a></p></li>
      <li><p ><a href="/prosecutor/check-csv-uploads">Check CSV uploads</a></p></li>
    </ul>

    <h2 class="heading-medium" id="sjp-nptices-and-other-documents">Send <abbr title="Single Justice Procedure">SJP</abbr> notices and other documents</h2>

    <ul class="list" aria-labelledby="sjp-nptices-and-other-documents">
      <li><p><a href="/prosecutor/send-other-documents">Upload SJP notices, previous convictions and witness statements</a></p></li>
      <li><p><a href="/prosecutor/check-document-uploads">Check document uploads</a></p></li>
    </ul>

    <h2 class="heading-medium" id="other-tasks">Other tasks</h2>

    <ul class="list" aria-labelledby="other-tasks">
      <li><p><a href="/prosecutor/withdraw-an-offence">Withdraw an offence</a></p></li>
      <li><p><a href="/prosecutor/export-case-results-by-date">Export case results by date</a></p></li>
    </ul>

  </div>

  <div class="column-third">

    <div class="summary-item mt-xl">
      <a href="/prosecutor/check-csv-uploads">
        <span class="summary-item-number bold-xxlarge">4</span>
        <span class="summary-item-label bold-xsmall">CSV errors in last upload</span>
      </a>
    </div>

    <div class="summary-item mt-xl">
      <a href="/prosecutor/check-document-uploads">
        <span class="summary-item-number bold-xxlarge">3</span>
        <span class="summary-item-label bold-xsmall">document errors in last upload</span>
      </a>
    </div>

    <div class="summary-item mt-xl">
      <a href="/prosecutor/cases-missing-sjp-notices">
        <span class="summary-item-number bold-xxlarge">5</span>
        <span class="summary-item-label bold-xsmall">cases missing SJP notices</span>
      </a>
    </div>

  </div>

</div>
