  {{>breadcrumb}}

  <div class="grid-row">

    <div class="column-two-thirds">

      <h1 class="heading-xlarge">{{pagetitle}}</h1>

      {{#error}}
      <div class="error-summary" role="group" aria-labelledby="error-summary-heading-example-1" tabindex="-1">

        <h1 class="heading-medium error-summary-heading" id="error-summary-heading-example-1">Fix the following</h1>

        <ul class="error-summary-list">

          {{#unless documents}}
          <li><a href="#error-documents">Select file</a></li>
          {{/unless}}

        </ul>

      </div>
      {{/error}}

      <div class="text">

        <p>Put your documents in a zip file and then upload. You can include:</p>

        <ul class="list list-bullet">
          <li><abbr title="Single Justice Procedure">SJP</abbr> notices</li>
          <li>previous convictions</li>
          <li>witness statements</li>
        </ul>

      </div>

      <form class="form" method="post"{{#if error}}action="/documents-confirmation"{{/if}}>

        <div class="form-block">
          <div class="panel panel-border-wide text">
            <p>If you only want to upload one document, you&rsquo;ll still need to put it in a zip file.</p>
          </div>
        </div>

        <div class="form-group form-group-last{{#error}}{{#unless documents}} error{{/unless}}{{/error}}"{{#error}}{{#unless header}} id="error-documents"{{/unless}}{{/error}}>
          <label for="documents">
            <span class="form-label-bold">Select file</span>
            {{#error}}
              {{#unless documents}}<span class="error-message">You need to upload a file</span>{{/unless}}
              <!--span class="error-message">Wrong file type &ndash; select a zip file instead</span-->
              <!--span class="error-message">Wrong file extension &ndash; change to .zip</span-->
            {{/error}}
          </label>
          <input type="file" id="documents" name="documents" accept=".zip">
        </div>

        <div class="form-group">
          <button class="button" type="submit" id="send" name="send" value="send">Send to court</button>
        </div>

      </form>

    </div>

  </div>
