  {{>breadcrumb}}

  <div class="grid-row">

    <div class="column-two-thirds">

      <h1 class="heading-xlarge">{{pagetitle}}</h1>

      {{#error}}
      <div class="error-summary" role="group" aria-labelledby="error-summary-heading-example-1" tabindex="-1">

        <h1 class="heading-medium error-summary-heading" id="error-summary-heading-example-1">Fix the following</h1>

        <ul class="error-summary-list">

          {{#unless header}}
            <li><a href="#error-header">Select header CSV</a></li>
          {{/unless}}

          {{#unless offences}}
            <li><a href="#error-offences">Select offences CSV</a></li>
          {{/unless}}

        </ul>

      </div>
      {{/error}}

      <form class="form" method="post"{{#if error}}action="/prosecutor/data-files-confirmation"{{/if}}>

        <div class="form-group{{#error}}{{#unless header}} error{{/unless}}{{/error}}"{{#error}}{{#unless header}} id="error-header"{{/unless}}{{/error}}>
          <label for="header">
            <span class="form-label-bold">Select header <abbr title="Comma Separated Value">CSV</abbr></span>
            {{#error}}
              {{#unless header}}<span class="error-message">You need to upload a file</span>{{/unless}}
              <!--span class="error-message">Wrong file type &ndash; select a <abbr title="Comma Separated Value">CSV</abbr> instead</span-->
              <!--span class="error-message">File names not a matching pair &ndash; fix and try again</span-->
            {{/error}}
          </label>
          <input type="file" id="header" name="header" accept=".csv">
        </div>

        <div class="form-group form-group-last{{#error}}{{#unless offences}} error{{/unless}}{{/error}}"{{#error}}{{#unless offences}} id="error-offences"{{/unless}}{{/error}}>
          <label for="offences">
            <span class="form-label-bold">Select offences <abbr title="Comma Separated Value">CSV</abbr></span>
            {{#error}}
              {{#unless offences}}<span class="error-message">You need to upload a file</span>{{/unless}}
              <!--span class="error-message">Wrong file type &ndash; select a <abbr title="Comma Separated Value">CSV</abbr> instead</span-->
              <!--span class="error-message">File names not a matching pair &ndash; fix and try again</span-->
            {{/error}}
          </label>
          <input type="file" id="offences" name="offences" accept=".csv">
        </div>

        <div class="form-group form-group-related">
          <button class="button" type="submit" id="send" name="send" value="send">Send to court</button>
        </div>

        <p><a href="#">Cancel</a></p>

      </form>

    </div>

  </div>
