{{>breadcrumb}}

{{#with search}}

  {{>prosecutor/persist-info}}

  <div class="grid-row">

    <div class="column-two-thirds">

      <h1 class="heading-xlarge">{{../pagetitle}}</h1>

      <p>You can ask a legal adviser to withdraw this offence. Are you sure you want to do this?</p>

      <form class="form" method="post" novalidate>

        <div class="form-group form-group-related">
          <button class="button" type="submit">Yes &ndash; send request</button>
        </div>

        <p><a href="/prosecutor/case-details/{{id}}">Cancel</a></p>

      </form>

    </div>

  </div>

{{/with}}
