// Forms
// ==========================================================================

$module: 'form';

.#{$module} {

  &-currency {
    display: block;
    position: relative;

    .#{$module}-control {
      padding-left: em(34);
    }

    &:before {
      @include core-19;
      color: $black;
      content: "\00a3";
      display: inline-block;
      font-weight: bold;
      position: absolute;
      text-align: center;
      vertical-align: middle;
      left: em(12); top: 50%;

      /* IE9 Support and above */
      -webkit-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
      transform: translateY(-50%);
    }

  }

  &-group-actions {

    p {
      margin-top: em(10);

      @include media(tablet) {
        margin: em(10) 0 0 em(20);
        display: inline-block;
      }

    }

  }

  &-group-last {
    margin-bottom: $gutter;

    @include media(tablet) {
      margin-bottom: $gutter*2;
    }

  }

  &-control-wide {
    width: 100%;
  }

  &-control-textarea {
    resize: vertical;
  }

  &-control-select {
    padding: 1px;

    @include media(tablet) {
      padding: 2px;
    }

  }

  &-duration {

    .#{$module}-group {
      float: left;
      clear: none;
      margin-right: 20px;
      margin-bottom: 0;

      &-amount {
        width: 70px;
      }

      &-timespan {
        width: auto;
      }

      input, select {
        width: 100%;
      }

    }

  }

  &-time {

    .#{$module}-group {
      position: relative;
      clear: none;
      float: left;
      margin-right: 20px;
      margin-bottom: 0;
      width: 50px;

      &-hour {

        &:after {
          position: absolute; bottom: 6px;
          right: -12px;
          content: ":";
        }

      }

      input {
        width: 100%;
      }

    }

  }

}
