// Tables
// ==========================================================================

$module: 'table';

.#{$module} {

  // error log table
  &-error-log {

    @include media(tablet) {

      .#{$module}-cell-row {
        width: em(40,16);
      }

      .#{$module}-cell-reference {
        width: em(150,16);
      }

      .#{$module}-cell-column {
        width: em(100,16);
      }

    }

  }



  // container
  &-container {
    position: relative;
  }


  &-action {

    @include media(tablet) {
      margin: 0;
      position: absolute; right: 0; top: 12px;
    }

  }



  // summary table
  &-summary {

    th, td {
      border: 0;
      vertical-align: top;
    }

    th {
      font-weight: normal;
    }

    &-title {
      width: 40%;
    }

    .#{$module}-cell-action {
      padding-right: 0;
      text-align: right;
    }

    .#{$module}-row-noborder {

      th, td {
        border: 0;
      }

    }

  }


  // decision table
  &-decision {

    th {font-weight: 400;}

    th, td {
      vertical-align: top;
    }

  }


}
