// Tables
// ==========================================================================

$module: 'table';

.#{$module} {


  // error log table
  &-error-log {

    @include media(tablet) {

      .#{$module}-cell-row {
        width: em(40,16);
      }

      .#{$module}-cell-reference {
        width: em(150,16);
      }

      .#{$module}-cell-column {
        width: em(100,16);
      }

    }

  }


  // summary table
  &-summary {

    th, td {
      border: 0;
      vertical-align: top;
    }

    .#{$module}-cell-title {
      width: 40%;
    }

    @include media(tablet) {

      .#{$module}-cell-content {
        padding-right: 80px;
      }

    }

  }


  // performance
  &-performance {
    border-top: 1px solid $black;
    border-collapse: separate;
    margin-bottom: em(40);

    th, td {
      vertical-align: top;
    }

    tbody th {
      font-weight: 400;
    }

    tfoot th,
    tfoot td {
      border-top: 2px solid $black;
      position: relative; top: -1px;
    }

    .#{$module}-cell-last {
      padding-right: 0;
      text-align: right;
    }

    .#{$module}-cell-title {
      width: 40%;
    }

    .#{$module}-cell-amount {
      width: 20%;
    }

  }


  // decision table
  &-decision {

    + details {
      margin-top: $gutter-half;

      @include media(tablet) {
        margin-top: $gutter;
      }

    }

    th {
      font-weight: 400;
      width: 40%;
    }

    th, td {
      vertical-align: top;
    }

  }


}


// button actions
.button-actions {
  margin-bottom: em(20);

  li {
    display: inline-block;
    margin-right: em(10);
  }

}
