// Tables
// ==========================================================================

$module: 'table';

.#{$module} {

  // error log table
  &-error-log {

    @include media(tablet) {

      .#{$module}-cell-row {
        width: em(40,16);
      }

      .#{$module}-cell-reference {
        width: em(150,16);
      }

      .#{$module}-cell-column {
        width: em(100,16);
      }

    }

  }


  // summary table
  &-summary {

    th, td {
      border: 0;
      vertical-align: top;
    }

    .#{$module}-cell-title {
      width: 40%;
    }

    @include media(tablet) {

      .#{$module}-cell-content {
        padding-right: 80px;
      }

    }

  }


  // decision table
  &-decision {

    + details {
      margin-top: $gutter-half;

      @include media(tablet) {
        margin-top: $gutter;
      }

    }

    th {font-weight: 400;}

    th, td {
      vertical-align: top;
    }

  }


}
