// Tables
// ==========================================================================

$module: 'table';

.#{$module} {
  margin-bottom: em(20); 

  .last {
    padding-right: 0;
    text-align: right;  
  }
 
}