// Dividers
// ==========================================================================

$module: 'divider';

.#{$module} {
  background-color: $border-colour;
  border: 0;
  display: block;
  height: em(1);
  margin-top: $gutter;
  margin-bottom: $gutter;
  padding: 0;

  // modifiers
  &-border-dark {
    background-color: $black;
  }

  &-border-thick {
    height: em(5);
  }

  // just for tablet and desktop screens
  @include media(tablet) {

    &-gutter-large {
      margin-top: $gutter*2;
      margin-bottom: $gutter*2;
    }

  }

}

hr {
  clear: both; // needs to be added to GOV.UK
}

/*

HTML Usage

<hr>

<hr class="divider">

<hr class="divider divider-border-dark">

<hr class="divider divider-border-dark divider-border-thick">

*/
