// File
// ==========================================================================

$module: 'file';

.#{$module} {
  margin-top: 5px;

  .icon {
    display: inline-block;
    margin-right: em(10);
  }

  &-details {
    @include core-16;
    display: inline-block;
    vertical-align: top;
  }

  &-meta {
    display: block;

    span {
      display: block;
    }

  }

  &-inline {
    display: inline-block;
    margin-right: 20px;
  }

}

/*

HTML Usage

<div class="file">

  <i class="icon icon-file-download"></i>

  <div class="file-details">
    <a href="#">Cite notice</a>
    <span class="file-meta">PDF, 156KB</span>
  </div>

</div>

*/
