// Select user type
// ==========================================================================

$module: 'select-user';

.#{$module} {
  border-bottom: 1px solid $border-colour;

  &-item {
    border-top: 1px solid $border-colour;
  }

  &-link {
    display: block;
    padding-top: $gutter-half;
    padding-bottom: $gutter-half;
    text-decoration: none;
  }

}
