// Shame
// ==========================================================================

.header a:focus {
  overflow: hidden; // removes additional white space on focused elements
}

fieldset.inline ~ .panel {
  margin-top: 10px;

  &:last-child {
    margin-bottom: $gutter-half;
  }

}
