// Shame
// ==========================================================================

.header a:focus {
  overflow: hidden; // removes additional white space on focused elements
}

fieldset.inline ~ .panel {
  margin-top: 10px;

  &:last-child {
    margin-bottom: $gutter-half;
  }

}


// Headings (GDS override)
.heading-xlarge {
  margin-bottom: em(15, 32);

  @include media(tablet) {
    margin-bottom: em(30, 48);
  }

}

legend *:first-child {
  margin-top: 0;
}


// Notice (GDS override)
.notice {
  padding-top: 5px;
  margin-bottom: 20px;

  .icon {
    margin-top: 0;
    top: 0;
  }

}


// focus styles defined elsewhere
:focus {
  outline: 0;
}
