// Text
// ==========================================================================

$module: 'text';

.#{$module} {

  &-error {
    color: $error-colour;
    font-weight: 700;
  }

  &-uppercase {
    text-transform: uppercase;
  }

}

/*

HTML Usage

<span class="text-errors">Errors found</span>
<span class="text-uppercase">Errors found</span>

*/
