// Check answers
// ==========================================================================

$module: 'check-answers';

.#{$module} {
  position: relative;

  @include media(desktop) {
    &-action {
      margin: 0; // reset margins
      position: absolute; right: 0; top: 12px;

      // hide visually but make available for screen readers
      span {
        border: 0;
        clip: rect(0 0 0 0);
        height: 1px;
        margin: -1px;
        overflow: hidden;
        padding: 0;
        position: absolute;
        width: 1px;
      }

    }
  }

}
