  {{>breadcrumb}}

  <div class="grid-row">

    <div class="column-two-thirds">

      <h1 class="heading-xlarge">{{pagetitle}}</h1>

      <dl class="meta meta-small">
        <dt>Name</dt>
        <dd>case-123456789</dd>
        <dt>Uploaded on</dt>
        <dd><time datetime="2016-03-24">24 March 2016</time></dd>
      </dl>

    </div>

  </div>

  <h2 class="heading-medium">104 cases successfully sent to court</h2>

  <table class="table table-font-xsmall">
    <caption class="visuallyhidden">Cases successfully sent to court</caption>
    <thead>
      <tr>
        <th scope="col">Name</th>
        <th scope="col">Reference number</th>
        <th scope="col">Date of birth</th>
      </tr>
    </thead>

    <tbody>
      <tr>
        <td>SMITH Olivia</td>
        <td>2056135</td>
        <td><time datetime="2016-03-24">24 March 2016</time></td>
      </tr>
    </tbody>

  </table>
