{{#if ../sHasSaved}}
<div class="banner banner-confirmation" role="alert">
  <i class="icon icon-banner-confirmation" role="presentation" aria-hidden="true"></i>
  <div class="banner-message">
    <p>Your changes have been saved</p>
  </div>
</div>
{{/if}}
