{{>breadcrumb}}

<h1 class="heading-xlarge">{{pagetitle}}</h1>

<p class="lede">Defendant offences awaiting a decision.</p>

<table class="table table-font-xsmall">
  <caption class="visuallyhidden">Defendant offences awaiting a decision</caption>
  <thead>
    <tr>
      <th scope="col">Reference</th>
      <th scope="col">Prosecutor</th>
      <th scope="col">Offence</th>
      <th scope="col">Status</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th scopr="row"><a href="#">9012466</a></th>
      <td>Transport for London</td>
      <td>Passenger used ticket issued for another person</td>
      <td>Awaiting plea</td>
    </tr>
    <tr>
      <th scopr="row"><a href="#">2053688</a></th>
      <td>Transport for London</td>
      <td>Travel on railway without paying fare</td>
      <td>Ready for SJP decision</td>
    </tr>
    <tr>
      <th scopr="row"><a href="#">2056139</a></th>
      <td>Transport for London</td>
      <td>Passenger used expired ticket</td>
      <td>Awaiting plea</td>
    </tr>
    <tr>
      <th scopr="row"><a href="#">2056136</a></th>
      <td>Transport for London</td>
      <td>Passenger failing to pay fare</td>
      <td>Awaiting plea</td>
    </tr>
    <tr>
      <th scopr="row"><a href="#">2056137</a></th>
      <td>Transport for London</td>
      <td>Passenger failing to pay fare</td>
      <td>Awaiting plea</td>
    </tr>
    <tr>
      <th scopr="row"><a href="#">2056138</a></th>
      <td>Transport for London</td>
      <td>Passenger used altered/defaced ticket</td>
      <td>Awaiting plea</td>
    </tr>
    <tr>
      <th scopr="row"><a href="#">2056139</a></th>
      <td>Transport for London</td>
      <td>Passenger used altered/defaced ticket</td>
      <td>Awaiting plea</td>
    </tr>
  </tbody>
</table>
