{{>breadcrumb}}

<h1 class="heading-xlarge"><span class="heading-secondary">Lavender Hill Magistrates&rsquo; Court</span> Court list</h1>

<h3 class="heading-medium">50 cases due for a decision</h3>

<!--p><a class="button button-secondary" href="#">Print full court list</a></p-->

<p><a class="button button-secondary" href="#">Print court list (<span class="font-xsmall">PDF, 42KB, 3 pages</span>)</a></p>

<table class="table table-font-xsmall">
  <caption class="visuallyhidden">A collection of cases due for a decision</caption>
  <thead>
    <tr>
      <th scope="col">Reference</th>
      <th scope="col">Prosecutor</th>
      <th scope="col">Offence</th>
      <th scope="col">Status</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th scopr="row"><a href="#">9012466</a></th>
      <td>Transport for London</td>
      <td>Passenger used ticket issued for another person</td>
      <td>Awaiting plea</td>
    </tr>
    <tr>
      <th scopr="row"><a href="#">2053688</a></th>
      <td>Transport for London</td>
      <td>Travel on railway without paying fare</td>
      <td>Ready for SJP decision</td>
    </tr>
    <tr>
      <th scopr="row"><a href="#">2056139</a></th>
      <td>Transport for London</td>
      <td>Passenger used expired ticket</td>
      <td>Awaiting plea</td>
    </tr>
    <tr>
      <th scopr="row"><a href="#">2056136</a></th>
      <td>Transport for London</td>
      <td>Passenger failing to pay fare</td>
      <td>Awaiting plea</td>
    </tr>
    <tr>
      <th scopr="row"><a href="#">2056137</a></th>
      <td>Transport for London</td>
      <td>Passenger failing to pay fare</td>
      <td>Awaiting plea</td>
    </tr>
    <tr>
      <th scopr="row"><a href="#">2056138</a></th>
      <td>Transport for London</td>
      <td>Passenger used altered/defaced ticket</td>
      <td>Awaiting plea</td>
    </tr>
    <tr>
      <th scopr="row"><a href="#">2056139</a></th>
      <td>Transport for London</td>
      <td>Passenger used altered/defaced ticket</td>
      <td>Awaiting plea</td>
    </tr>
    <tr>
      <th scopr="row"><a href="#">9012466</a></th>
      <td>Transport for London</td>
      <td>Passenger used ticket issued for another person</td>
      <td>Awaiting plea</td>
    </tr>
    <tr>
      <th scopr="row"><a href="#">2053688</a></th>
      <td>Transport for London</td>
      <td>Travel on railway without paying fare</td>
      <td>Ready for SJP decision</td>
    </tr>
    <tr>
      <th scopr="row"><a href="#">2056139</a></th>
      <td>Transport for London</td>
      <td>Passenger used expired ticket</td>
      <td>Awaiting plea</td>
    </tr>
  </tbody>
</table>

<div class="pagination">

  <div class="pagination-prev">
    <a href="#" rel="prev" title="Navigate to previous part">
      <span class="pagination-label">Previous</span>
    </a>
  </div>

  <ul class="pagination-numbers">
    <li><a href="#">1</a></li>
    <li class="is-active"><a href="#">2</a></li>
    <li><a href="#">3</a></li>
    <li><a href="#">4</a></li>
    <li><a href="#">5</a></li>
  </ul>

  <div class="pagination-next">
    <a href="#" rel="next" title="Navigate to next part">
      <span class="pagination-label">Next</span>
    </a>
  </div>

</div>
