{{>breadcrumb}}

{{#with search}}

  {{>court-administrator/persist-info}}

  <div class="grid-row">

    <div class="column-two-thirds">

      <h1 class="heading-xlarge">{{../pagetitle}}</h1>

      <p>This will delete all &lsquo;case reopened&rsquo; details. Are you sure you want to do this?</p>

      <form class="form" method="post" novalidate>

        <div class="form-group form-group-related">
          <input name="revertCase" type="hidden" value="Yes">
          <button class="button" type="submit">Yes &ndash; confirm</button>
        </div>

        <p><a href="/court-administrator/change-reopened-case-status/{{id}}/">Cancel</a></p>

      </form>

    </div>

  </div>

{{/with}}
