{{>breadcrumb}}

{{#with search}}

  {{>court-administrator/persist-info}}

  <h1 class="heading-xlarge">{{../pagetitle}}</h1>

  <p>This will delete all &lsquo;case reopened&rsquo; details</h2>

  <form class="form" method="post" novalidate>

    <div class="form-group">

      <fieldset class="inline">

        <legend class="visually-hidden">This will delete all &lsquo;case reopened&rsquo; details</label></legend>

        <div class="multiple-choice">
          <input id="revert-case" name="revertCase" type="checkbox" value="Yes">
          <label for="revert-case">Confirm</label>
        </div>

      </fieldset>

    </div>

    <div class="form-group form-group-related">
      <button class="button" type="submit">Save</button>
    </div>

    <p><a href="/court-administrator/change-reopened-case-status/{{id}}/">Cancel</a></p>

  </form>

{{/with}}
