{{>breadcrumb}}

<h1 class="heading-xlarge">{{pagetitle}}</h1>

<h3 class="heading-medium">Meta list</h3>

<div class="example">

  <dl class="meta">
    <dt>Name</dt>
    <dd>Billy SMITH</dd>
    <dt>Date of birth</dt>
    <dd>4 April 1970 (46 years old)</dd>
    <dt>Address</dt>
    <dd>7 Rock Road <br> London <br> SE3 8YH</dd>
    <dt>Email</dt>
    <dd>hello@trevorsaint.com</dd>
    <dt>Mobile</dt>
    <dd>07783809087</dd>
  </dl>

</div>

<h3 class="heading-medium">Meta list with bold terms</h3>

<div class="example">

  <dl class="meta meta-boldterms">
    <dt>Name</dt>
    <dd>Billy SMITH</dd>
    <dt>Date of birth</dt>
    <dd>4 April 1970 (46 years old)</dd>
    <dt>Address</dt>
    <dd>7 Rock Road <br> London <br> SE3 8YH</dd>
    <dt>Email</dt>
    <dd>hello@trevorsaint.com</dd>
    <dt>Mobile</dt>
    <dd>07783809087</dd>
  </dl>

</div>


<h3 class="heading-medium">Meta list inline</h3>

<div class="example">

  <dl class="meta meta-inline">
    <dt>Name</dt>
    <dd>Billy SMITH</dd>
    <dt>Date of birth</dt>
    <dd>4 April 1970 (46 years old)</dd>
    <dt>Address</dt>
    <dd>7 Rock Road <br> London <br> SE3 8YH</dd>
    <dt>Email</dt>
    <dd>hello@trevorsaint.com</dd>
    <dt>Mobile</dt>
    <dd>07783809087</dd>
  </dl>

</div>


<h3 class="heading-medium">Meta list inline with bold terms</h3>

<div class="example">

  <dl class="meta meta-inline meta-boldterms">
    <dt>Name</dt>
    <dd>Billy SMITH</dd>
    <dt>Date of birth</dt>
    <dd>4 April 1970 (46 years old)</dd>
    <dt>Address</dt>
    <dd>7 Rock Road <br> London <br> SE3 8YH</dd>
    <dt>Email</dt>
    <dd>hello@trevorsaint.com</dd>
    <dt>Mobile</dt>
    <dd>07783809087</dd>
  </dl>

</div>


<h3 class="heading-medium">Meta list small with bold terms</h3>

<div class="example">

  <dl class="meta meta-small meta-boldterms">
    <dt>Name</dt>
    <dd>Billy SMITH</dd>
    <dt>Date of birth</dt>
    <dd>4 April 1970 (46 years old)</dd>
    <dt>Address</dt>
    <dd>7 Rock Road <br> London <br> SE3 8YH</dd>
    <dt>Email</dt>
    <dd>hello@trevorsaint.com</dd>
    <dt>Mobile</dt>
    <dd>07783809087</dd>
  </dl>

</div>


<h3 class="heading-medium">Meta list inline small with bold terms</h3>

<div class="example">

  <dl class="meta meta-small meta-inline meta-boldterms">
    <dt>Name</dt>
    <dd>Billy SMITH</dd>
    <dt>Date of birth</dt>
    <dd>4 April 1970 (46 years old)</dd>
    <dt>Address</dt>
    <dd>7 Rock Road <br> London <br> SE3 8YH</dd>
    <dt>Email</dt>
    <dd>hello@trevorsaint.com</dd>
    <dt>Mobile</dt>
    <dd>07783809087</dd>
  </dl>

</div>
