// Alerts
// ==========================================================================

$module: 'alert';

.#{$module} {
  padding: $gutter;
  margin-bottom: 1em;
  margin-top: 1em;
  
  &-success {
    background-color: $turquoise;
  }
  
  &-fail {
    background-color: $red;
  }
  
  &-message {
    @include bold-16;
    display: inline-block;
    color: white;
    padding-left: 10px;
    vertical-align: middle;
  }
  
  .icon {
    display: inline-block;
    vertical-align: middle;
  }
  
  p {
    margin: 0;
  }
  
}

/*
  
HTML Usage
  
<div class="alert alert-success" role="alert">
  
  <div class="alert-message">
    <p class="bold-small">You have successfully updated your profile</p>
  </div>
  
</div>

*/



$module: 'banner';

.#{$module} {
  padding: $gutter;
  margin-bottom: 1em;
  margin-top: 1em;
  
  &-message {
    overflow: hidden;
    color: white;

    p {margin: 0;}
    
  }
  
  .icon {
    float: left;
    padding-right: 10px;
  }
  
  &-confirmation {
    background-color: $turquoise;
  }
  
  &-active {
    background-color: $green;
  }
  
  &-pending {
    background-color: $orange;
  }
  
  &-locked {
    background-color: $red;
  }
  
  &-deregistered {
    background-color: $grey-1
  }
  
  
}