// Blocks
// ==========================================================================

$module: 'block';

.#{$module} {
  
  
  &-mb-sm {
    margin-bottom: $gutter-half;
  }
  
  &-mb-md {
    margin-bottom: $gutter-half;
    
    @include media(tablet) {
      margin-bottom: $gutter;
    }
    
  }
  
  
  &-mt-sm {
    margin-top: $gutter-half;
  }
  
  &-mt-md {
    margin-top: $gutter-half;
    
    @include media(tablet) {
      margin-top: $gutter;
    }
    
  }
  
  
}

/*
  
HTML Usage
  
<div class="block block-mb-md">
  ... content
</div>

*/