// Description lists
// ==========================================================================


$module: 'description';


.#{$module} {
  margin-top: $gutter;
  margin-bottom: $gutter;
  
  &:last-child {
    margin-bottom: 0;
  }

  dt {
    font-weight: bold;
  }

  dd {
    margin-bottom: em(10);
  }

  @include media(tablet) {

    &-inline {
      
      dt {
        float: left;
        width: 40%;
      }
      
      dd {
        overflow: hidden;
        padding-left: 20px;
      }
      
    }
  
  }
  
  // Small
  &-small {
    
    dt {
      @include core-16;
    }
    
  }

}


/*
  
HTML Usage
  
<dl class="description">
  <dt>Heading</dt>
  <dd>Content</dd>
</dl>

<dl class="description description-inline">
  <dt>Heading</dt>
  <dd>Content</dd>
</dl>

<dl class="description description-tint">
  <dt>Heading</dt>
  <dd>Content</dd>
</dl>

<dl class="description description-small">
  <dt>Heading</dt>
  <dd>Content</dd>
</dl>

*/