// Icons
// ==========================================================================

$module: 'icon';

.#{$module} {

  &-tick {
    @include icon(icon-tick, 27, 27);
  }

  &-cross {
    @include icon(icon-cross, 27, 27);
  }

  &-important-white {
    @include icon(icon-important-white, 30, 30);
  }

  &-tick-white {
    @include icon(icon-tick-white, 30, 30);
  }

  &-complete {
    @include icon(icon-complete, 12, 9);
  }

  &-alert {
    @include icon(icon-alert-white, 20, 20);
  }

  &-lock {
    @include icon(icon-lock, 30, 30);
  }

  &-lock-white {
    @include icon(icon-lock-white, 30, 30);
  }

  &-banner-confirmation {
    @include icon(icon-banner-confirmation, 20, 20);
  }

  &-banner-warning {
    @include icon(icon-banner-warning, 20, 20);
  }

}

/*

HTML Usage

<i class="icon icon-tick" role="presentation" aria-hidden="true"></i>

<i class="icon icon-cross" role="presentation" aria-hidden="true"></i>

<i class="icon icon-important-white" role="presentation" aria-hidden="true"></i>

<i class="icon icon-tick-white" role="presentation" aria-hidden="true"></i>

<i class="icon icon-complete" role="presentation" aria-hidden="true"></i>

<i class="icon icon-alert" role="presentation" aria-hidden="true"></i>

<i class="icon icon-lock" role="presentation" aria-hidden="true"></i>

<i class="icon icon-lock-white" role="presentation" aria-hidden="true"></i>

*/
