// Persist information
// ==========================================================================

$module: 'persist-info';

.#{$module} {
  @include core-24;
  background-color: $govuk-blue;
  color: white;
  padding: $gutter-half;
  
  &-title {
    font-weight: 700;
    margin-left: em(10);
  }
  
}

/*
  
HTML Usage
  
<div class="persist-info">
  <span class="persist-info-reference"></span>
  <span class="persist-info-title"></span>
</div>

*/