// Persist information
// ==========================================================================

$module: 'persist-info';

.#{$module} {
  @include core-16;
  background-color: $govuk-blue;
  color: white; 
  padding: $gutter-half;
  
  &-title {
    font-weight: 700;
    margin-left: em(10);
  }
  
}

/*
  
HTML Usage
  
<div class="persist-info">
  <span class="persist-info-reference">29324692</span>
  <span class="persist-info-title">Billy SMITH</span>
</div>

*/