// Related
// ==========================================================================

$module: 'related';

.#{$module} {
  border-top: em(10) solid $govuk-blue;
  margin-top: em(30);
  padding-top: em(5);
  
  &-section {
    margin-bottom: em(20);
  }
    
  &-title {
    @extend .heading-medium;
    margin-top: em(7);
    margin-bottom: em(12);
  }
  
  &-links {
    overflow: hidden;
    
    li {
      margin-bottom: em(12, 16);
    }
    
  }

}

/*
  
HTML Usage
  
<div class="related">
  
  <div class="related-section">
  
    <h2 class="related-title">Related links</h2>
    
    <ul class="related-links">
      <li><a href="#">Link 1</a></li>
      <li><a href="#">Link 2</a></li>
    </ul>
    
  </div>

</div>

*/