// Sections
// ==========================================================================

$module: 'section';

.#{$module} {

  &-header {
    position: relative;

    &-change {
      position: absolute;
      top: 0; right: 0;
    }

  }

}


$module: 'heading';

.#{$module} {

  &-change {
    font-weight: normal;
  }

}
