// Sections
// ==========================================================================

$module: 'section';

.#{$module} {

  &-header {
    position: relative;

    a {
      position: absolute;
      top: 0; right: 0;
    }

  }

}
