// Shame
// ==========================================================================

.header a:focus {
  overflow: hidden; // removes additional white space on focused elements
}

fieldset.inline ~ .panel {
  margin-top: 10px;

  &:last-child {
    margin-bottom: $gutter-half;
  }

}


// Headings (GDS override)

.heading-xlarge {
  margin-bottom: em(15, 32);

  @include media(tablet) {
    margin-bottom: em(30, 48);
  }

}
