// Shame
// ==========================================================================

:focus {
  overflow: hidden; // removes additional white space on focused elements
}

// form file control (http://tympanus.net/codrops/2015/09/15/styling-customizing-file-inputs-smart-way/)
.form-control-file + label {
  display: none;
}

.js-enabled {

  .form-control-file {
    width: .1px;
    height: .1px;
    opacity: 0;
    overflow: hidden;
    position: absolute;
    z-index: -1;

    + label {
      display: inline-block;
      width: auto; // prevent GOV setting width to 100% for mobile
    }

    &:hover + label,
    &:focus + label,
    &.focused + label {
      background-color: darken($grey-3, 5%);
    }

    &:focus + label,
    &.focused + label {
      outline: 3px solid $focus-colour;
      overflow: hidden;
    }

  }

}

// http://mattsnider.com/css-string-truncation-with-ellipsis

.filename {
  display: inline-block;
  overflow: hidden;
  white-space: nowrap;
  width: 100%;

  text-overflow: ellipsis;
   -o-text-overflow: ellipsis; // opera 9 & 10
}

fieldset.inline ~ .panel {
  margin-top: 10px;

  &:last-child {
    margin-bottom: 15px;
  }

}
