// Summary
// ==========================================================================

$module: 'summary';

.#{$module} {

  &-heading {
    float: left;
    padding-top: em(16);
    width: 40%;
    color: $secondary-text-colour;
  }
  
  &-content {
    overflow: hidden;
    padding-left: 20px;
    padding-top: em(16);
  }

}

/*
  
HTML Usage
  
<dl class="summary">
  <dt class="summary-heading">Heading</dt>
  <dd class="summary-content">Content</dd>
</dl>

*/