// Summary
// ==========================================================================

$module: 'summary';

.#{$module} {

  dt {
    float: left;
    padding-top: em(16);
    width: 40%;
    color: $secondary-text-colour;
  }
  
  dd {
    overflow: hidden;
    padding-left: em(20);
    padding-top: em(16);
  }

}

/*
  
HTML Usage
  
<dl class="summary">
  <dt>Heading</dt>
  <dd>Content</dd>
</dl>

*/