// Tags
// ==========================================================================

$module: 'tag';

.#{$module} {
  @include inline-block;
  @include bold-16($line-height: 20 / 16);
  border: 2px solid $black;
  color: $black;
  letter-spacing: 1px;
  margin: 0 8px 0 0;
  padding: 2px 5px 0;
  text-decoration: none;
  text-transform: uppercase;
}

/*
  
HTML Usage

<p><strong class="tag">Pleaded guilty</strong></p>

<p><strong class="tag">Not guilty</strong></p>

<p><strong class="tag">No plea given</strong></p>

*/