// Text
// ==========================================================================

$module: 'text';

.#{$module} {

  &-error {
    color: $error-colour;
    font-weight: 700;
  }

}

/*

HTML Usage

<span class="text-errors">Errors found</span>

*/
