{{>breadcrumb}}


<div class="grid-row">

  <div class="column-two-thirds">

    <h1 class="heading-xlarge">{{pagetitle}}</h1>

    <p class="lede">Search results for 10 to 18 March 2016</p>

  </div>

</div>


<div class="grid-row">

  <div class="column-two-thirds">

    <div class="panel panel-border-wide">
      <p>10 orders found</p>
    </div>

  </div>

  <div class="column-third">
    <p class="text-right"><a class="button" href="{{baseurl}}find-and-print-orders" role="button">Search again</a></p>
  </div>

</div>

<table class="table table-font-xsmall">
  <caption class="visually-hidden">Orders to be printed</caption>
  <thead>
    <tr>
      <th scope="col">No.</th>
      <th scope="col">Reference number</th>
      <th scope="col">Name</th>
      <th scope="col">Orders</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>1</td>
      <td>9012466</td>
      <td><span class="text-uppercase">Smith</span> Billy</td>
      <td><a class="link link-with-icon" href="#"><i class="icon icon-file-download" role="presentation" aria-hidden="true"></i>View and print</a></td>
    </tr>
    <tr>
      <td>2</td>
      <td>9012467</td>
      <td><span class="text-uppercase">Chant</span> Jack</td>
      <td><a class="link link-with-icon" href="#"><i class="icon icon-file-download" role="presentation" aria-hidden="true"></i>View and print</a></td>
    </tr>
    <tr>
      <td>3</td>
      <td>9012462</td>
      <td><span class="text-uppercase">Saint</span> Trevor</td>
      <td><a class="link link-with-icon" href="#"><i class="icon icon-file-download" role="presentation" aria-hidden="true"></i>View and print</a></td>
    </tr>
    <tr>
      <td>4</td>
      <td>2053688</td>
      <td><span class="text-uppercase">Federhen</span> Genevieve</td>
      <td><a class="link link-with-icon" href="#"><i class="icon icon-file-download" role="presentation" aria-hidden="true"></i>View and print</a></td>
    </tr>
    <tr>
      <td>5</td>
      <td>2056139</td>
      <td><span class="text-uppercase">Francis</span> John</td>
      <td><a class="link link-with-icon" href="#"><i class="icon icon-file-download" role="presentation" aria-hidden="true"></i>View and print</a></td>
    </tr>
    <tr>
      <td>6</td>
      <td>2056135</td>
      <td><span class="text-uppercase">Henry&ndash;Ovid</span> Ruth&ndash;Ellen</td>
      <td><a class="link link-with-icon" href="#"><i class="icon icon-file-download" role="presentation" aria-hidden="true"></i>View and print</a></td>
    </tr>
    <tr>
      <td>7</td>
      <td>2056137</td>
      <td><span class="text-uppercase">Mercedesz</span> Fekete Katalin</td>
      <td><a class="link link-with-icon" href="#"><i class="icon icon-file-download" role="presentation" aria-hidden="true"></i>View and print</a></td>
    </tr>
    <tr>
      <td>8</td>
      <td>2056138</td>
      <td><span class="text-uppercase">Milan</span> Christina</td>
      <td><a class="link link-with-icon" href="#"><i class="icon icon-file-download" role="presentation" aria-hidden="true"></i>View and print</a></td>
    </tr>
    <tr>
      <td>9</td>
      <td>2056139</td>
      <td><span class="text-uppercase">Nair</span> Jyotish</td>
      <td><a class="link link-with-icon" href="#"><i class="icon icon-file-download" role="presentation" aria-hidden="true"></i>View and print</a></td>
    </tr>
    <tr>
      <td>10</td>
      <td>9012756</td>
      <td><span class="text-uppercase">O&rsquo;Carroll</span> Melissa</td>
      <td><a class="link link-with-icon" href="#"><i class="icon icon-file-download" role="presentation" aria-hidden="true"></i>View and print</a></td>
    </tr>
  </tbody>
</table>
