{{>breadcrumb}}

<div class="homepage-masthead">

  <h1 class="bold-xlarge mb-l">{{pagetitle}}</h1>

  <div class="grid-row">

    <div class="column-two-thirds">

      <h2 class="bold-medium">Search for a case</h2>

      <form class="form" method="post" novalidate>

        <div class="form-search form-search-home">

          <label for="search">
            <span class="form-label">Enter case reference number or defendant&rsquo;s last name</span>
          </label>

          <input class="form-control form-control-wide" id="search" name="search" type="search"><button class="form-search-button" type="submit">Search</button>

        </div>

      </form>

    </div>

  </div>

</div>

{{#is phaseBannerHome true}}
  {{>phase-banner}}
{{/is}}

<div class="grid-row">

  <div class="column-two-thirds">

    <h2 class="heading-medium" id="information-for-the-public">Information for the public</h2>

    <ul class="list" aria-labelledby="information-for-the-public">
      <li><p><a href="/court-administrator/print-list-of-cases-awaiting-decision">Print list of cases awaiting decision</a></p></li>
      <li><p><a href="/court-administrator/create-register-for-the-media">Create register for the media</a></p></li>
    </ul>

  </div>

</div>
