<h1 class="heading-xlarge">{{pagetitle}}</h1>

<div class="grid-row">

  <div class="column-one-half">

    <ul class="list">
      <li><a class="bold-small" href="/prosecutor/home">Prosecutor</a></li>
      <li><a class="bold-small" href="/court-administrator/home">Court administrator</a></li>
      <li><a class="bold-small" href="/legal-adviser/home">Legal adviser</a></li>
      <li><a class="bold-small" href="/operational-reporting/home">Operational reporting</a></li>
    </ul>

    <hr class="divider" aria-hidden="true">

    <ul class="list">
      <li><a class="bold-small" href="/proof-in-absence/court-administrator/home">Court administrator PIA</a></li>
      <li><a class="bold-small" href="/proof-in-absence/legal-adviser/home">Legal adviser PIA</a></li>
    </ul>

    <hr class="divider" aria-hidden="true">

    <p><a class="bold-small" href="https://online-plea.herokuapp.com" target="_blank">Online plea<span class="visually-hidden"> (opens in a new window)</span></a></p>

  </div>

</div>
